<form class="form-horizontal" id="form-controller" action="/Admingroup/setController" onsubmit="return setController()">
	<table class="table table-bordered valign-middle">
		<thead>
			<th width="20%">名称</th>
			<th width="20%">控制器</th>
			<th>操作类型</th>
		</thead>
		<tbody>
		{volist name="list" id="vo"}
			<tr>
				<td><label class="mt-checkbox mt-checkbox-outline mr20">
						<input type="checkbox" onclick="selectAll({tag:'#item-{$i}'})"> {$vo.controller_name}
						<span></span>
					</label> </td>
				<td>{$vo.controller} </td>
				<td id="item-{$i}">
					<label class="mt-checkbox mt-checkbox-outline mr20">
						<input type="checkbox" name="action[]" value="{$vo.controller}:C" {:in_array($vo['controller'].':C',$action) ? 'checked':''}> 创建(C)
						<span></span>
					</label>		
					<label class="mt-checkbox mt-checkbox-outline mr20">
						<input type="checkbox" name="action[]" value="{$vo.controller}:U" {:in_array($vo['controller'].':U',$action) ? 'checked':''}> 修改(U)
						<span></span>
					</label>		
					<label class="mt-checkbox mt-checkbox-outline mr20">
						<input type="checkbox" name="action[]" value="{$vo.controller}:R" {:in_array($vo['controller'].':R',$action) ? 'checked':''}> 读取(R)
						<span></span>
					</label>		
					<label class="mt-checkbox mt-checkbox-outline">
						<input type="checkbox" name="action[]" value="{$vo.controller}:D" {:in_array($vo['controller'].':D',$action) ? 'checked':''}> 删除(D)
						<span></span>
					</label>		
					
				</td>
			</tr>
		{/volist}
		</tbody>
	</table>
	<input type="hidden" name="id" value="{$Request.param.id}">
	<div class="text-center mt20">
		<button type="submit" class="btn btn-danger btn-150px"><i class="fa fa-check"></i> 提交</button>
	</div>

</form>

<script>
	function setController(){
		submitForm({
			formid:'#form-controller',
			success:function(ret){
				toast(ret);
			}
		});
		
		return false;		
	}
</script>