{extend name="common:base" /}
{block name="title"}<title>关于我们-零壹聚</title>{/block}
{block name="keywords"}<meta name="keywords" content="关于我们-零壹聚">{/block}
{block name="description"}<meta name="description" content="广州零壹聚网络科技有限公司是一家专注于为客户提供一站式互联网+解决方案的技术服务公司，服务范围包括PC端、手机端各类游戏、APP、应用软件、电子商城、微信、网络建站、H5等专业定制开发。">{/block}

{block name='content'}

    <!--轮播开始-->
    <div class="swiper-container banner-box">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
				<a href="{$data.0.url}"><img src="{$data.0.images}" alt="{$data.0.sub_title}"></a>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

    </div>
    <!--轮播结束-->

	{foreach name="data.child" item="vo" key="k"}
	{eq name='k' value='0'}
    <div class="bg_f4 ptb50">
        <div class="container">
            <div class="fs26 text-center ptb10 c-666">
                {$vo.category_name}
            </div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="solid-b-white text-center"><span class="solid_center_60" style="border-color:#4195e7"></span></div>
                </div>                
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">
                {$vo.sub_title}
            </div>
            <div class="text-center c-666 fs14 line26">
                {$vo.content}
            </div>
            
        </div>
    </div>

    <div class="container ptb50">
        <div class="row c-666">

            {foreach name="vo.child" item="vol"}
            <div class="col-xs-4 text-center">
                <img class="wow rubberBand animated" src="{$vol.images}" />
                <h5 class="pt15">{$vol.name}</h5>
                <span class="solid_center"></span>
                <p class="line30">{$vol.content}</p>
            </div>
            {/foreach}
        </div>
    </div>
	{/eq}
	
	{eq name='k' value='1'}
    <div class="case-box bg_f4">
        <div class="container">
            <div class="fs26 text-center ptb10 c-666">{$vo.category_name}</div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="solid-b-white text-center">
                        <span class="solid_center_60" style="border-color:#4195e7"></span>
                    </div>
                </div>                
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">{$vo.sub_title}</div>

            <div class="row">
                <div class="col-xs-offset-6">
                    <div class="stamp">
						{foreach name="vo.child" item="vol"}
                        <div class="line wow bounceInLeft animated">
                            <div class="core"><span></span></div>
                            <div class="text_title" style="">{$vol.content}</div>
                            <div class="date">{$vol.atime} <br />{$vol.name}</div>
                        </div>
					   {/foreach}
                    </div>
                </div>
            </div>


        </div>
    </div>
	{/eq}
	
	{eq name='k' value='2'}
    <div class="news_map ">
        <div class="container ptb50 ">
            <div class="fs26 text-center ptb10 c-666">{$vo.category_name}</div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="solid-b-white text-center">
                        <span class="solid_center_60" style="border-color:#4195e7"></span>
                    </div>
                </div>                
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">{$vo.sub_title}</div>

            <div class="row">
				<div class="col-xs-offset-1 col-xs-4 c-666" style="width:440px;height: 350px;overflow-y:scroll " id="new-left-box">
					{foreach name="vo.child" item="vol"}
					<div class="media mb20 solid-b-e5">
						<div class="media-left"><span class="date_day">{$vol.tag|substr=8,2}</span><p class="mt5 text-center">{$vol.tag|substr=0,7}</p></div>
						<div class="media-body">
							<a href="/news/{$vol.id}.html" class="c-666"><h4 class="media-heading">{$vol.name}</h4>
								<div class="news-cont-div">
									{$vol.content}
								</div>
							</a>
						</div>
					</div>
					{/foreach}
				</div>
                <div class="col-xs-offset-1 col-xs-5">
                    <div id="allmap" style="height:345px;width:500px"></div>                         
                </div>
            </div>

        </div>    
    </div>

	{/eq}
	
	{eq name='k' value='3'}
    <div class="container pt80">
        <div class="fs26 text-center ptb10 c-666">{$vo.category_name}</div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <div class="solid-b-white text-center">
                    <span class="solid_center_60" style="border-color:#4195e7"></span>
                </div>
            </div>                
        </div>
        <div class="pt25 pb25 c-666 text-center fs16">{$vo.sub_title}</div>

        <div class="row text-center">
            <div class=" col-xs-12">
                <div class="row">
                    {foreach name="vo.child" item="vol"}
                    <div class="col-xs-2">
                        <div class="mb10"><img src="{$vol.images}"></div>
                        <p class="c-666">{$vol.content}</p>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>

        <div class="text-center">
            <img class="computer" src="__STATIC__/index/images/about/computer.png">
        </div>
    </div>
	{/eq}
	{/foreach}
{/block}
{block name='script'}
<script src="__STATIC__/index/js/wow.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LQp1fHKPAaiWVhHazv6SlvdrmfuhHOZV"></script>

<script type="text/javascript">
    setTimeout(function () {
        $(function() {
            $(' #case-thumbs-ul > li  ').each( function() { $(this).hoverdir(); } );
        });
    },200)
    //选项卡
</script>
<script>
    setTimeout(function () {
        var map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(113.320797,23.146823), 19);
        map.addControl(new BMap.MapTypeControl());
        map.setCurrentCity("新达城广场-北座");
        map.enableScrollWheelZoom(true);
        var local = new BMap.LocalSearch(map, {
            renderOptions: {map: map, panel: "r-result"}
        });
        local.search("广州市越秀区广州大道北197号");
    },200)
    //地图api
</script>
<script>
    setTimeout(function () {
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true
        });
        wow.init();
    },200)
    //动画
</script>
{/block}