{extend name="common:base" /}

{block name='content'}
    <div class="swiper-container">
        <div class="container">
            <img class="btnner-center" src="__STATIC__/index/images/app/banner.jpg">
        </div>
    </div>


    <div id="text_center" class="bg_f4 pb25">
        <div class="container">
            <ol class="breadcrumb mt20 mb0">
                <li><a class="c-666" href="#">APP开发</a></li>
                <li><a class="c-666" href="/case/">APP开发案例</a></li>
                <li class="active">{$data.title}</li>
            </ol>

            <div class="bg_white pd30 pl0">
                <div class="row c-666">

                    <div class="col-xs-8 gallery">
                        <img class="app_left_img" src="{$data.detail_images}">
                    </div>
                    <div class="col-xs-4">
                        <div id="scroll_fixed">                          

                            <h3>{$data.title}</h3>
                            <div>
                                <span class="mt10 dinline">{$data.atime}  &nbsp;&nbsp;&nbsp;  浏览：{$data.hit}</span>
                                <div class="jiathis_style_32x32 pull-right mt-5">    
                                    <a class="jiathis_button_tsina"></a>
                                    <a class="jiathis_button_weixin"></a>
                                    <a class="jiathis_button_qzone"></a>
                                </div>
                            </div>
                            <div class="ptb50 line30 fs14">
                                {$data.content}
                            </div>
							{empty name="data.prev"}
								<p><a href="#" class="c-666">上一篇：没有了</a></p>
							{else/}
								<p><a href="/case_app/{$data.prev.id}.html" class="c-666">上一篇 ：{$data.prev.name}</a></p>
							{/empty}
							{empty name="data.next"}
								<p><a href="#" class="c-666">上一篇：没有了</a></p>
							{else/}
								<p><a href="/case_app/{$data.next.id}.html" class="c-666">下一篇 ：{$data.next.name}</a></p>
							{/empty}

                            <!--<div class="hide_show">
                                <div class="row mt40"><div class="col-xs-10"></div></div>
                                &lt;!&ndash; <h3>最新评论</h3> &ndash;&gt;
                                <div class="bg_f4 pd10">
                                    <div class="media mb20">
                                        <div class="media-left">
                                            <img class="media-object img_radius" src="images/app/user.png">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">汤圆酱 <small class="pull-right mt5 fs12">2017-01-01</small></h4>
                                        </div>
                                    </div>
                                    <p class="text_em line26">
                                        现在，社交移动app持续链接的方法更加简单和多元。在图片社交app平台上，你给对方点个赞，对方回过来一个赞，双方的关系就自然而然。你贴个标签发个弹幕，虽然发布者们彼此并不直接对话，但看着种种戳点的元素从图片上飞过，也能享受一种“各自一起玩”的乐趣，看起来很热闹
                                    </p>
                                </div>    
                            </div>-->
                            
                        </div>
                    </div>

                </div>
            </div>
        </div> 

    </div>

{/block}
{block name='script'}
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $(' #case-thumbs-ul > li  ').each( function() { $(this).hoverdir(); } );
    });
    
    $(window).scroll(function () {
        t = $(document).scrollTop();
        h = $('.index-nav-class').outerHeight(true) + $('.swiper-container').outerHeight(true)

        if (t > h ) {
            $('#scroll_fixed').addClass('scroll_fixed');
        } else {
            $('#scroll_fixed').removeClass('scroll_fixed');
        } 

        if( t > h + $('#text_center').outerHeight(true) -700 ){
            $('#scroll_fixed').hide()
        }else{
            $('#scroll_fixed').show()
        }
        
    })
</script>
<script>
    var LocString=decodeURIComponent(window.location.href);
    var officialId=GetQueryString("id");
    //        var signValue=GetQueryString("signValue");
            console.log(officialId);

    function GetQueryString(str){
        var rs=new RegExp("(^|)"+str+"=([^&]*)(&|$)","gi").exec(LocString),tmp;
        if(tmp=rs){
            return tmp[2];
        }else{
            return null;
        }
    }
    var classicCase= $('#classicCase').html();
    var compiledTemplate_share= Template7.compile(classicCase);

    function getrandom3() {
        $.getJSON(CASEDETAURL+officialId+'?callback=?', function (json) {
            console.log(json)
            $('#develop_page').html(compiledTemplate_share(json));
        });
    };
    getrandom3();

</script>

{/block}