{extend name="common:base" /}
{block name="title"}<title>技术开发经典案例-零壹聚</title>{/block}
{block name="keywords"}<meta name="keywords" content="技术开发,技术开发经典案例,技术开发案例">{/block}
{block name="description"}<meta name="description" content="零壹聚为很多大公司提供过技术开发服务，有app开发、游戏开发、商城开发，其中有很多经典的实际案例，很多开发的案例都比较成功。">{/block}
{block name='content'}


<!--轮播开始-->
    <div class="swiper-container banner-box">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
				<a href="{$data.0.url}"><img src="{$data.0.images}" alt="{$data.0.sub_title}"></a>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

    </div>

    <!--行业案例开始-->

    <div class="bg_white">
         <div class="w1200">
             <div class="pt25 pb25 ">
                <div class="over">
                    <h2 class="pull-left plr25 solid-3l-419 fs26">{$data.0.sub_title}</h2>
                    <h5 class="fs16 mt20 line30">{$data.0.content}</h5>
                </div>
             </div>
             <div class="industry-case-box pb25">
                 <div class="media solid-b-f7f mg0">
                     <div class="media-left">
                         <div style="width: 70px;line-height: 53px;" class="text-left">
                             <strong>开发类型：</strong>
                         </div>
                     </div>
                     <div class="media-body">
                        <ul class="list-unstyled list-inline mg0 ">
                            <li><a href="">全部</a></li>
                            <li><a href="">商城类APP</a></li>
                            <li><a href="">社交类APP</a></li>
                            <li><a href="">智能硬件类APP</a></li>
                            <li><a href="">企业展示类APP</a></li>
                            <li><a href="">新闻类APP</a></li>

                        </ul>
                     </div>
                 </div>
                 <div class="media solid-b-f7f mg0">
                     <div class="media-left">
                         <div style="width: 70px;line-height: 53px;" class="text-left">
                             <strong>开发平台：</strong>
                         </div>
                     </div>
                     <div class="media-body">
                        <ul class="list-unstyled list-inline mg0 ">
                            <li><a href="">全部</a></li>
                            <li><a href="">Android（安卓）</a></li>
                            <li><a href="">IOS（苹果）</a></li>
                            <li><a href="">HTML5手机网站</a></li>
                            <li><a href="">微信</a></li>
                            <li><a href="">WEB网站</a></li>

                        </ul>
                     </div>
                 </div>
                 <div class="media solid-b-f7f mg0">
                     <div class="media-left">
                         <div style="width: 70px;line-height: 53px;" class="text-left">
                             <strong>应用平台：</strong>
                         </div>
                     </div>
                     <div class="media-body">
                        <ul class="list-unstyled list-inline mg0 ">
                            <li><a href="">全部</a></li>
                            <li><a href="">母婴行业</a></li>
                            <li><a href="">建材行业</a></li>
                            <li><a href="">金融通信行业</a></li>
                            <li><a href="">餐饮美食行业</a></li>
                            <li><a href="">服饰鞋帽行业</a></li>
                            <li><a href="">美容护肤行业</a></li>
                            <li><a href="">美容护肤行业</a></li>
                            <li><a href="">新闻行业</a></li>
                            <li><a href="">医疗行业</a></li>
                            <li><a href="">珠宝行业</a></li>

                        </ul>
                     </div>
                 </div>
             </div>
         </div>
    </div>

	    <!--行业案例结束-->
    <div class=" bg_f2f">
        <div class="w1200">
            <div class="row case-images-box pb25">
				{foreach name="example" item="vol"}
                <div class="col-xs-3">
                    <div class="case-li">
                        <a href="/case_app/{$vol.id}.html" target="_blank">
                            <div class="case-li-img">
                                <img src="{$vol.images}" alt="">
                            </div>
                            <div class="case-li-bot bg_white">
                                <div class="media mb10">
                                    <div class="media-left">
                                        <div style="width: 70px;margin-top:2px" class="c-888">案例名称：</div>
                                    </div>
                                    <div class="media-body fs14 c-666">
                                        {$vol.name}
                                    </div>
                                </div>
                                <div class="media mb10">
                                    <div class="media-left">
                                        <div style="width: 70px;" class="c-888">开发类型：</div>
                                    </div>
                                    <div class="media-body c-888 text_over">
                                         {$vol.tag}
                                    </div>
                                </div>
                                <div class="media mb10">
                                    <div class="media-left">
                                        <div style="width: 70px;" class="c-888">最新评论：</div>
                                    </div>
                                    <div class="media-body c-888 text_over">
                                        {$vol.content}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
				{/foreach}
                </div>
            </div>

        </div>
    </div>
<!--模态框开始-->
{/block}