<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>零壹聚-游戏开发</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/fonts.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <!--导航开始-->
    <div class="index-nav-class">
        <div class="w1200">
            <a href="index.html"><img src="images/index-logo.jpg" alt=""></a>
            <ul class="list-unstyled index-nav-ul pull-right">
                <li class="index.html"><a href="index.html">首页</a></li>
                <li><a href="app.html">APP开发</a></li>
                <li class="active"><a href="#">游戏开发</a></li>
                <li><a href="shop.html">商城开发</a></li>
                <li><a href="case.html">经典案例</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
        </div>

    </div>
    <!--导航结束-->



    <!--轮播开始-->
    <div class="swiper-container banner-box">
        <img src="images/banner-img2.png" alt="">
    </div>
    <!--轮播结束-->

    <!--模块一开始-->
    <div class="bg_white">
        <div class="w1200">
            <div class="pt80 pb80 text-center fs20 line30 c-666">
                零壹聚致力于游戏研发领域20+年，<br>
                独立开发众多成功项目，拥有资深的游戏开发专家及实力运营队伍，<br>
                针对不同用户的需求，定制不同类型的游戏，<br>
                进行个性游戏策划研发，可重点根据地方人文，打造专属地方特色游戏，如棋牌、麻将、捕鱼、房卡游戏等，<br>
                并为客户提供系统完善的运营方案和实施建议，完美解决定制难点。
            </div>
            <div class="model-one">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pt25">
                            <div class="model-box pt25">
                                <div class="model-img1">
                                    <img src="images/mode-img1.png" alt="">
                                </div>
                                <div class="model-img2">
                                    <img src="images/mode-img2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="pt25 plr25">

                            <div class="media pt80 mb40">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/model-one-icon1.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading fs26">欢乐斗地主</h3>
                                    <p class="fs16 c-666">飞机炸弹满场飞，打得地主淌眼泪</p>
                                </div>
                            </div>
                            <div class="text_em fs14 c-888 line30">
                                真实场景化的游戏界面，升级您的视觉体验，让您感受轻松愉快的熟悉场景，画面采用可爱的卡通形象，加入不同场景的动作表情，极其富有娱乐性，作为经典必备手游，游戏中更糅合了多个地区斗地主玩法，还有方言人声聊天，为斗地主增添更多欢乐元素，让您停不下来哟！
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="text-center pb25">
                    <a href="#download-modal-mac" class="btn button_details btn-lg my-btn-blues fs16 mb20 button--winona " data-text="点击查看" data-toggle="modal"><span>查看详情</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--模块一结束-->


    <!--模块二开始-->
    <div class="bg_f4f">
        <div class="w1200">
            <div class="model-one">
                <div class="row">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-5">
                        <div class="pt25 plr25">

                            <div class="media pt80 mb40">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/model-one-icon2.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading fs26">欢乐斗地主</h3>
                                    <p class="fs16 c-666">飞机炸弹满场飞，打得地主淌眼泪</p>
                                </div>
                            </div>
                            <div class="text_em fs14 c-888 line30">
                                真实场景化的游戏界面，升级您的视觉体验，让您感受轻松愉快的熟悉场景，画面采用可爱的卡通形象，加入不同场景的动作表情，极其富有娱乐性，作为经典必备手游，游戏中更糅合了多个地区斗地主玩法，还有方言人声聊天，为斗地主增添更多欢乐元素，让您停不下来哟！
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pt25">
                            <div class="model-box pt25">
                                <div class="model-img1">
                                    <img src="images/mode-img3.png" alt="">
                                </div>
                                <div class="model-img2">
                                    <img src="images/mode-img4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pb25 a_animation">
                    <a href="#download-modal-mac" class="btn button_details btn-lg my-btn-blues fs16 mb20 button--winona " data-text="点击查看" data-toggle="modal"><span>查看详情</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--模块二结束-->


    <!--模块三开始-->
    <div class="bg_white">
        <div class="w1200">

            <div class="model-one">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pt25">
                            <div class="model-box pt25">
                                <div class="model-img1">
                                    <img src="images/mode-img5.png" alt="">
                                </div>
                                <div class="model-img2">
                                    <img src="images/mode-img6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="pt25 plr25">

                            <div class="media pt80 mb40">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/model-one-icon3.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading fs26">德州扑克</h3>
                                    <p class="fs16 c-666">大众爱消遣，德州更经典 </p>
                                </div>
                            </div>
                            <div class="text_em fs14 c-888 line30">
                                德州扑克游戏是为玩家精心准备的一款棋牌休闲游戏。这是智者和土豪们之间的较量，斗智力、耍手腕、动脑筋，开发您的大脑思维，游戏呈现Q版的风格，美妙的音乐，新版大厅交互简洁，风格炫彩特效惊艳，获得了广大玩家的一致好评， 德州扑克简单有趣,上手快,上万好友同时在线，所有欢乐尽在德州。

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="text-center pb25 a_animation">
                     <a href="#download-modal-mac" class="btn button_details btn-lg my-btn-blues fs16 mb20 button--winona " data-text="点击查看" data-toggle="modal"><span>查看详情</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--模块三结束-->



    <!--模块四开始-->
    <div class="bg_f4f">
        <div class="w1200">
            <div class="model-one">
                <div class="row">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-5">
                        <div class="pt25 plr25">

                            <div class="media pt80 mb40">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/model-one-icon4.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading fs26">四人牛牛</h3>
                                    <p class="fs16 c-666">五花牛、五小牛，更多大牌等你来抽取 </p>
                                </div>
                            </div>
                            <div class="text_em fs14 c-888 line30">
                                四人牛牛是一款十分火爆的手机纸牌游戏，在四人牛牛游戏中小伙伴可以4人体验牛牛游戏玩法哦，操作体验十分的给力，效果出色，无论撸亦或者被撸，总有清新好感觉；掌握自己的快乐，体验绝对的激情与刺激！“小试牛刀”疯狂收获更多金币，享受无限胜利快感！玩四人牛牛，让自己更牛！

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pt25">
                            <div class="model-box pt25">
                                <div class="model-img1">
                                    <img src="images/mode-img7.png" alt="">
                                </div>
                                <div class="model-img2">
                                    <img src="images/mode-img8.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pb25 a_animation">
                   <a href="#download-modal-mac" class="btn button_details btn-lg my-btn-blues fs16 mb20 button--winona " data-text="点击查看"  data-toggle="modal"><span>查看详情</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--模块四结束-->



    <!--模块五开始-->
    <div class="bg_white">
        <div class="w1200">

            <div class="model-one">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pt25">
                            <div class="model-box pt25">
                                <div class="model-img1">
                                    <img src="images/mode-img9.png" alt="">
                                </div>
                                <div class="model-img2">
                                    <img src="images/mode-img10.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="pt25 plr25">

                            <div class="media pt80 mb40">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/model-one-icon5.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading fs26">渔夫码头</h3>
                                    <p class="fs16 c-666">最休闲有趣的捕鱼游戏  </p>
                                </div>
                            </div>
                            <div class="text_em fs14 c-888 line30">
                                渔夫码头是一款经典捕鱼游戏系列，游戏场景以深海作为游戏背景，在保留了传统街机版本的界面、玩法、得分方式等基础上，增加了更多刺激、好玩的网络元素，游戏加大了鱼炮的最大倍率，鱼种类也更加丰富，鱼类游动姿态自然，炮弹打击粒子效果华丽，打击感强烈。同时背景音乐真实、动听且拥有更加丰富的视觉体验感受，游戏过程中各种惊险刺激伴随着你，让你如置身在真实的海底世界，乐此不疲！


                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="text-center pb25">
                    <a href="#download-modal-mac" class="btn button_details btn-lg my-btn-blues fs16 mb20 button--winona " data-text="点击查看"  data-toggle="modal"><span>查看详情</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--模块五结束-->



    <!--页尾开始-->
    <div class="footer-box bg_f2f visible-lg">
        <div class="container pd0">
            <div class="row mg0">
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" amg">
                        <div class="c-666 fs16 mb20"><strong>关于零壹聚</strong></div>
                        <img src="images/code-img.png" alt="">
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>定制开发</strong></div>
                        <div class="mb20"><a href="app.html" class="c-888" target="_blank">APP开发</a></div>
                        <div class="mb20"><a href="#" class="c-888">游戏开发</a></div>
                        <div class="mb20"><a href="" class="c-888">网站开发</a></div>
                        <div class="mb20"><a href="case.html" class="c-888" target="_blank">经典案例</a></div>
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>友情链接</strong></div>
                        <div class="mb20"><a href="https://www.dttx.com" class="c-888" target="_blank">大唐天下</a></div>
                        <div class="mb20"><a href="https://www.trj.cc" class="c-888" target="_blank">唐人街</a></div>
                    </div>
                </div>

                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>关于我们</strong></div>
                        <div class="mb20"><a href="news.html" class="c-888">新闻中心</a></div>
                        <div class="mb20"><a href="" class="c-888">招贤纳士 </a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--页尾结束-->






    <!--模态框开始-->

    <div class="modal fade" id="download-modal-mac" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel32">提示</h4>
                </div>
                <div class="modal-body">
                    <h4>
                        玩命开发中...
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default my-btn-gary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--模态框开始-->




    <!--友情链接开始-->
    <div class="pt25 pb25 c-888 fs14 bg_f2f">
        <div class="w1200 line30">
            ©2017 广州零壹聚网络科技有限公司 .ALL Right Reservd. | 粤ICP备17092225号<img src="__STATIC__/index/images/foot-ba-icon.png" alt="" style="margin-right: 5px;margin-left: 5px;">粤公网安备 44010402001045号
        </div>

    </div>
    <!--友情链接结束-->
</body>
<script src="js/jquery.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>


</html>