<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>零壹聚</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/fonts.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


    <!--导航开始-->
    <div class="index-nav-class">
        <div class="w1200">
            <a href="index.html"><img src="images/index-logo.jpg" alt=""></a>
            <ul class="list-unstyled index-nav-ul pull-right">
                <li><a href="index.html">首页</a></li>
                <li class="active"><a href="app.html">APP开发</a></li>
                <li><a href="#">游戏开发</a></li>
                <li><a href="shop.html">商城开发</a></li>
                <li ><a href="case.html">经典案例</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
        </div>

    </div>
    <!--导航结束-->


    <div class="swiper-container">
        <div class="container">
            <img class="btnner-center" src="images/app/banner.jpg">
        </div>
    </div>


    <div id="text_center" class="bg_f4 pb25">
        <div class="container">
            <ol class="breadcrumb mt20 mb0">
                <li><a class="c-666" href="#">APP开发</a></li>
                <li><a class="c-666" href="#">APP开发案例</a></li>
                <li class="active">乐兑365APP开发案例</li>
            </ol>

            <div class="bg_white pd30 pl0">
                <div class="row c-666">

                    <div class="col-xs-8">
                        <img class="app_left_img" src="images/app/image_2.jpg">
                    </div>
                    <div class="col-xs-4">
                        <div id="scroll_fixed">                          

                            <h3>乐兑365APP开发案例</h3>
                            <div>
                                <span class="mt10 dinline">2016年11月01日  &nbsp;&nbsp;&nbsp;  浏览：257</span>
                                <div class="jiathis_style_32x32 pull-right mt-5">    
                                    <a class="jiathis_button_tsina"></a>
                                    <a class="jiathis_button_weixin"></a>
                                    <a class="jiathis_button_qzone"></a>
                                </div>
                            </div>
                            <div class="ptb50 line30 fs14">
                                移动应用简介：
                                一个颠覆性的创新商业模式！
                                一个区域互联网平台消费的创新者！
                                一个分享经济的开路人！ 
                                一次消费，终生受益！
                                乐兑365,引新生活，乐新未来 ! 
                                。
                            </div>
                            <p>上一篇：<a class="c-666" href="">欢乐斗地主</a></p>
                            <p>下一篇：<a class="c-666" href="">德州扑克</a></p>

                            <div class="hide_show">
                                <div class="row mt40"><div class="col-xs-10"></div></div>
                                <div class="bg_f4 pd10">
                                    <div class="media mb20">
                                        <div class="media-left">
                                            <img class="media-object img_radius" src="images/app/user.png">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">汤圆酱 <small class="pull-right mt5 fs12">2016-01-01</small></h4>
                                        </div>
                                    </div>
                                    <p class="text_em line26">
                                        现在，社交移动app持续链接的方法更加简单和多元。在图片社交app平台上，你给对方点个赞，对方回过来一个赞，双方的关系就自然而然。你贴个标签发个弹幕，虽然发布者们彼此并不直接对话，但看着种种戳点的元素从图片上飞过，也能享受一种“各自一起玩”的乐趣，看起来很热闹
                                    </p>
                                </div>    
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div> 

    </div>




    <!--页尾开始-->
    <div class="footer-box bg_fff visible-lg">
        <div class="container pd0">
            <div class="row mg0">
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" amg">
                        <div class="c-666 fs16 mb20"><strong>关于零壹聚</strong></div>
                        <img src="images/code-img.png" alt="">
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>定制开发</strong></div>
                        <div class="mb20"><a href="app.html" class="c-888" target="_blank">APP开发</a></div>
                        <div class="mb20"><a href="#" class="c-888">游戏开发</a></div>
                        <div class="mb20"><a href="" class="c-888">网站开发</a></div>
                        <div class="mb20"><a href="case.html" class="c-888" target="_blank">经典案例</a></div>
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>友情链接</strong></div>
                        <div class="mb20"><a href="https://www.dttx.com" class="c-888" target="_blank">大唐天下</a></div>
                        <div class="mb20"><a href="https://www.trj.cc" class="c-888" target="_blank">唐人街</a></div>
                    </div>
                </div>

                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>关于我们</strong></div>
                        <div class="mb20"><a href="news.html" class="c-888">新闻中心</a></div>
                        <div class="mb20"><a href="" class="c-888">招贤纳士 </a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--页尾结束-->







    <!--友情链接开始-->
    <div class="pt25 pb25 c-888 fs14 bg_f2f">
        <div class="w1200 line30">
            ©2017 广州零壹聚网络科技有限公司 .ALL Right Reservd. | 粤ICP备17092225号<img src="__STATIC__/index/images/foot-ba-icon.png" alt="" style="margin-right: 5px;margin-left: 5px;">粤公网安备 44010402001045号
        </div>

    </div>
    <!--友情链接结束-->
</body>
<script src="js/jquery.min.js"></script>
<script src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/jquery.hoverdir.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/lightgallery.min.js"></script>
<script src="js/lg-zoom.min.js"></script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $(' #case-thumbs-ul > li  ').each( function() { $(this).hoverdir(); } );
    });
    
    $(window).scroll(function () {
        t = $(document).scrollTop();
        h = $('.index-nav-class').outerHeight(true) + $('.swiper-container').outerHeight(true)

        if (t > h ) {
            $('#scroll_fixed').addClass('scroll_fixed');
        } else {
            $('#scroll_fixed').removeClass('scroll_fixed');
        } 

        if( t > h + $('#text_center').outerHeight(true) -650 ){
            $('#scroll_fixed').hide()
        }else{
            $('#scroll_fixed').show()
        }
        
    })
</script>

</html>