{extend name="common:base" /}
{block name="title"}<title>零壹聚-专业定制程序开发，一站式互联网+技术服务</title>{/block}
{block name="keywords"}<meta name="keywords" content="零壹聚,程序开发,技术服务,程序开发服务,app开发,有戏开发,商城开发">{/block}
{block name="description"}<meta name="description" content="广州零壹聚网络科技有限公司是一家专注于为客户提供一站式互联网+解决方案的技术服务公司，服务范围包括PC端、手机端各类游戏、APP、应用软件、电子商城、微信、网络建站、H5等专业定制开发。">{/block}
{block name='content'}
    <!--轮播开始-->
    <div class="swiper-container banner-box">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
				<a href="{$data.0.url}"><img src="{$data.0.images}" alt="{$data.0.sub_title}"></a>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

    </div>
    <!--轮播结束-->
	{foreach name="data.child" item="vo" key="k"}
	{eq name='k' value='0'}
    <!--开发服务开始-->
    <div class="Develop-box bg_white">
        <div class="w1200">
            <div class="fs26 text-center ptb10 c-666">
                {$vo.category_name}
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 pd0">
                    <div class="row solid-b-f7f">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <div class="plr10">
                                <div class="plr10 ">
                                    <div class="plr10 ">
                                        <div class="solid-2b-419"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">
                {$vo.sub_title}
            </div>
            <div class="row">
				{foreach name="vo.child" item="vol"}
					<div class="col-xs-4 mb10">
						<div class="develop-li text-center">
							<a href="/app/">
								<div class="develop-img over">
									<img src="{$vol.images}" alt="" width="380" height="220">
									<div class="popup-animation"></div>
								</div>
								<div class="text c-666">{$vol.name}</div>
							</a>
						</div>
					</div>
				{/foreach}
            </div>
        </div>
    </div>
	{/eq}

    <!--开发服务结束-->
    <!--经典案例开始-->
	{eq name='k' value='1'}
    <div class="case-box bg_f7f">
        <div class="w1200">
            <div class="fs26 text-center ptb10 c-666">
                 {$vo.category_name}
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 pd0">
                    <div class="row solid-b-f7f">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <div class="plr10">
                                <div class="plr10 ">
                                    <div class="plr10 ">
                                        <div class="solid-2b-419"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">
				{$vo.sub_title}
            </div>
            <ul id="case-thumbs-ul" class="da-thumbs row list-unstyled">
				{foreach name="vo.child" item="vol"}
					<li class="col-xs-3">
                        <a href="/case_app/">
                            <div class="case-thumbs-img">
                                <img src="{$vol.images}" width="277" height="195">
                                <span>{$vol.name}</span>
                                <div class="case-tx"></div>
                            </div>
                        </a>
                    </li>
				{/foreach}
            </ul>
        </div>
    </div>
	{/eq}

    <!--经典案例结束-->

    <!--正在使用我们的服务开始-->
	{eq name='k' value='2'}
    <div class="beusing-box bg_white">
        <div class="w1200">
            <div class="fs26 text-center ptb10 c-666">
                {$vo.category_name}
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 pd0">
                    <div class="row solid-b-f7f">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <div class="plr10">
                                <div class="plr10 ">
                                    <div class="plr10 ">
                                        <div class="solid-2b-419"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="pt25 pb25 c-666 text-center fs16">
                {$vo.sub_title}
            </div>
            <ul class="third-party-ul list-unstyled row mlr-7 mt20">
                {foreach name="vo.child" item="vol"}
					<li>
						<a href="#" target="_blank">
							<div class="solid-all-ddd bor_10 over">
								<img src="{$vol.images}" alt="">
							</div>
						</a>
					</li>
				{/foreach}
            </ul>
        </div>
    </div>
    <!--正在使用我们的服务结束-->
	{/eq}
	{/foreach}

{/block}
{block name='script'}
<script type="text/javascript">
    $(function() {
        $(' #case-thumbs-ul > li  ').each( function() { $(this).hoverdir(); } );
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        parallax: true,
        speed: 1200,
        loop: true,
        autoplay: false,
        simulateTouch : false
    });

</script>
{/script}