<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>零壹聚-新闻资讯详情</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/fonts.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <!--导航开始-->
    <div class="index-nav-class">
        <div class="w1200">
            <a href="index.html"><img src="images/index-logo.jpg" alt=""></a>
            <ul class="list-unstyled index-nav-ul pull-right">
                <li class="index.html"><a href="index.html">首页</a></li>
                <li><a href="app.html">APP开发</a></li>
                <li><a href="#download-modal-mac" data-toggle="modal">游戏开发</a></li>
                <li><a href="shop.html">商城开发</a></li>
                <li><a href="case.html">经典案例</a></li>
                <li class="active"><a href="about.html">关于我们</a></li>
            </ul>
        </div>

    </div>
    <!--导航结束-->

    <!--内容开始-->
    <div class="bg_f2f pt25">
        <div class="w1200">
            <div class="row">
                <div class="col-xs-9 mb70">
                    <div class="bg_white pd30">
                        <h2 class="fs26 mg0">微信小程序备受关注：16G手机的福音？会取代App？</h2>
                        <div class="c-666 pt10 fs14 pb25 solid-b-e5">2016-05-24&nbsp;&nbsp;18:32&nbsp;&nbsp;<span class="mr5">01Ju</span>&nbsp;&nbsp;<i class="fa fa-eye mr5"></i>188</div>
                        <div class="line30 pt25 amg pb25 solid-b-e5">
                            自微信小程序上线以来备受关注，很多网友表示微信小程序将解放16G手机，是16G手机用户的超强福音。
虽说微信小程序上线，受到了不少网友的拥护，也遭到了一些网友的吐槽。有网友称，玩微信小程序得准备两个手机，因为微信小程序虽然可以靠二维码传播，但是不支持“长按识别”，需“扫一扫”。<br>
另外，微信小程序不支持模糊查询，比如摩拜单车小程序，需精准搜索“摩拜单车”;而搜索“摩拜”则显示“未搜索到相关小程序”。
对此，微信团队对中新网表示，“我们希望用户更多地去发现、使用自己所需要的小程序，通过小程序能够解决生活中更多的实际问题，连接更多的线下场景。”<br>
16G手机的福音?<br>
微信小程序上线后，不少网友表示，很多App可以卸载了，这可以节省不少手机存储空间，尤其对存储容量为16G的手机用户来说，简直是雪中送炭。此前，腾讯给开发者规定，小程序大小不能超过1MB。<br>
不过，很快就有网友反映，小程序多了，手机存储空间照样消耗得厉害。对此，微信团队对中新网表示，会定期清理不使用的小程序的缓存，已经被缓存且未被清理的，再打开则无需加载代码资源。<br>
除了会定期清理缓存，用户不使用的小程序排序也会靠后，即微信用户自己最后使用的小程序排在最上端。不过用户可以选择某个小程序“显示在微信聊天顶部”，但最多只能有一个。<br>
小程序会取代App吗?<br>
如上所述，小程序上线后，手机可以删除一大批App了。那微信小程序的出现，是否会完全取代App呢?这个问题其实在小程序上线前，就曾引起过大家的讨论，小程序正式上线后， 针对这个问题的讨论依然存在。<br>
刘兴亮认为，小程序比较适合低频应用，这类App或将被消灭。但他同时指出，小程序虽会取代一部分App，但完全取代App是不可能的，因为一些特殊App或者用户高频使用的App用户粘性很强，被取代很难。<br>
未来小程序会怎么变、长啥样?<br>
从上线的小程序看，功能都较为简单，比如小程序“滴滴出行DiDi”，仅提供快车服务，其他如顺风车、专车、代驾等服务目前则不能提供。微信团队此前表示，企业的核心服务需出现在小程序进入后的第一屏。<br>
未来微信小程序功能会不会更加丰满，微信团队在给中新网的反馈中表示，未来的小程序将打通更多场景，降低接入的开发成本和门槛，希望未来的应用形态是无处不在、又随时可访问的状态。另外，将来在“发现-小程序”里面，还会出现“附近的店”，可找到附近的小程序。<br>
但，有一些东西，小程序未来也不会有。比如小程序不能推送消息;小程序没有订阅关系，没有粉丝等;小程序在微信没有集中入口;微信也不会推出小程序商店，也不会向用户推荐小程序等。<br>
延伸——小程序带来商机<br>
有分析指出，正是小程序的一些“没有”，会诞生出一些商机，比如会出现第三方的小程序商店、分类导航等。另外，中新网注意到，小程序虽然降低了企业的开发门槛，对于一些企业来说仍是难事——但这本身就是一个商机。据了解，小程序上线首日，就诞生了很多小程序技术外包和经营培训企业，还有一些企业则提供小程序基础保障服务。<br>
作为首批小程序上线的企业，京东相关负责人对中新网表示，对不少企业来说，想要通过小程序来实现完整的交易流程设计，包括库存管理、用户下单、支付、物流配送等多个复杂环节，还是有一定难度的。<br><br>
                           
                        </div>
                        <ul class="pager">
                            <li class="previous"><a href="#" class="c-666">上一篇：没有了</a></li>
                            <li class="next"><a href="#" class="c-666">下一篇 ：VIA 57 West公寓赢得2016国际高层建筑奖</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 pl0">
                    <div class="bg_white pd10">
                        <div class="pd10">
                            <div class="input-group input-news re pb25 solid-b-e5">
                                <input type="text" class="form-control btn-block" placeholder="">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4 class="fs16 ">为您推荐</h4>
                            <div class="solid-all-e5e mb20">
                                <div class="plr15 ptb10 solid-b-e5">
                                    <a href="" class="c-666">
                                    Oculus在伦敦组建VR团队
                                    </a>
                                </div>
                                <div class="plr15 ptb10 solid-b-e5">
                                    <a href="" class="c-666">
                                    Oculus在伦敦组建VR团队
                                    </a>
                                </div>
                                <div class="plr15 ptb10 solid-b-e5">
                                    <a href="" class="c-666">
                                    Oculus在伦敦组建VR团队
                                    </a>
                                </div>
                                <div class="plr15 ptb10 solid-b-e5">
                                    <a href="" class="c-666">
                                    人工智能风口来袭 情感机器人众望人  情感机器人众望所归所归
                                    </a>
                                </div>
                                <div class="plr15 ptb10">
                                    <a href="" class="c-666">
                                    人工智能风口来袭 情感机器人众望人  情感机器人众望所归所归
                                    </a>
                                </div>
                            </div>
                            <div class="mb10"><a href="" class="c-666">所有文章</a></div>
                            <div class="mb10"><a href="" class="c-blue">集团新闻</a></div>
                            <div class="mb10"><a href="" class="c-666">业内新闻</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容结束-->


    <!--模态框开始-->

    <div class="modal fade" id="download-modal-mac" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel32">提示</h4>
                </div>
                <div class="modal-body">
                    <h4>
                        玩命开发中...
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default my-btn-gary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--模态框开始-->


    <!--页尾开始-->
    <div class="footer-box bg_white visible-lg">
        <div class="container pd0">
            <div class="row mg0">
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" amg">
                        <div class="c-666 fs16 mb20"><strong>关于零壹聚</strong></div>
                        <img src="images/code-img.png" alt="">
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>定制开发</strong></div>
                        <div class="mb20"><a href="app.html" class="c-888" target="_blank">APP开发</a></div>
                        <div class="mb20"><a href="#download-modal-mac" data-toggle="modal" class="c-888">游戏开发</a></div>
                        <div class="mb20"><a href="" class="c-888">网站开发</a></div>
                        <div class="mb20"><a href="case.html" class="c-888" target="_blank">经典案例</a></div>
                    </div>
                </div>
                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>友情链接</strong></div>
                        <div class="mb20"><a href="https://www.dttx.com" class="c-888" target="_blank">大唐天下</a></div>
                        <div class="mb20"><a href="https://www.trj.cc" class="c-888" target="_blank">唐人街</a></div>
                    </div>
                </div>

                <div class="col-lz-2 col-md-4 pd0">
                    <div class=" fs14">
                        <div class="c-666 fs16 mb20"><strong>关于我们</strong></div>
                        <div class="mb20"><a href="news.html" class="c-888">新闻中心</a></div>
                        <div class="mb20"><a href="" class="c-888">招贤纳士 </a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--页尾结束-->








    <!--友情链接开始-->
    <div class="pt25 pb25 c-888 fs14 bg_f2f">
        <div class="w1200 line30">
            ©2017 广州零壹聚网络科技有限公司 .ALL Right Reservd. | 粤ICP备17092225号<img src="__STATIC__/index/images/foot-ba-icon.png" alt="" style="margin-right: 5px;margin-left: 5px;">粤公网安备 44010402001045号
        </div>

    </div>
    <!--友情链接结束-->
</body>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile: true,
        live: true
    });
    wow.init();
</script>

</html>