{extend name="common:base" /}

{block name='content'}
<!--内容开始-->
<div class="bg_f2f pt25">
    <div class="w1200">
        <div class="row">
            <div class="col-xs-9 mb70">
                <div class="bg_white pd30">
                    <div id="news_page"></div>
                    <h2 class="fs26 mg0">{$data.name}</h2>
                    <div class="c-666 pt10 fs14 pb25 solid-b-e5">{$data.atime}&nbsp;&nbsp;<span class="mr5">01Ju</span>&nbsp;&nbsp;<i class="fa fa-eye mr5"></i>{$data.hit}</div>
                    <div class="line30 pt25 amg pb25 solid-b-e5">
                        {$data.content}
                    </div>

                    <ul class="pager">
                        {empty name="data.prev"}
                        <li class="previous"><a href="#" class="c-666">上一篇：没有了</a></li>
                        {else/}
                        <li class="previous"><a href="/news/{$data.prev.id}.html" class="c-666">上一篇 ：{$data.prev.name}</a></li>
                        {/empty}
                        {empty name="data.next"}
                        <li class="next"><a href="#" class="c-666">上一篇：没有了</a></li>
                        {else/}
                        <li class="next"><a href="/news/{$data.next.id}.html" class="c-666">下一篇 ：{$data.next.name}</a></li>
                        {/empty}
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 pl0">
                <div class="bg_white pd10">
                    <div class="pd10">
                        <div class="input-group input-news re pb25 solid-b-e5">
                            <input type="text" class="form-control btn-block" placeholder="">
                            <i class="fa fa-search"></i>
                        </div>
                        <h4 class="fs16 ">为您推荐</h4>
                        <div class="solid-all-e5e mb20">
                            {foreach name="lists" item="vo" key="k"}
                            <div class="plr15 ptb10 solid-b-e5 text_over">
                                <a href="/news/{$vo.id}.html" class="c-666">
                                    {$vo.name}
                                </a>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容结束-->
{/block}