{extend name="public:base" /}
<!--导航-->
{block name="nav"}{include file="configfield:nav" /}{/block}
<!--主体内容-->
{block name="content"}
	{volist name="group" id="gl" key="k"}
	<div id="group-{$k}" class="group-field">
		{gt name="gl.sublist.count" value="0"}
		<ul class="nav nav-tabs">
			{volist name="gl.sublist.data" id="vl"}
			<li class="{$i==1?'active':''}">
				<a href="#tabs_{$k}_{$i}" data-toggle="tab" aria-expanded="true"> {$vl.category_name} </a>
			</li>
			{/volist}		
		</ul>
		
		<div class="tab-content">
			{volist name="gl.sublist.data" id="vl"}
			<div class="tab-pane fade in {$i==1?'active':''}" id="tabs_{$k}_{$i}">
				{notempty name="vl.remark"}
					<div class="note note-info">
						<p>提示：{$vl.remark}</p>
					</div>			
				{/notempty}
				<div id="{$vl.id}" class="loadurl" data-url="{:url('Configfield/fields',['group_id' => $vl['id']])}" style="min-height: 200px;"></div>
			</div><!--/end pane-->
			{/volist}
		</div>	
		
		<div class="md20 clearfix"></div>
		{/gt}
	</div>
	{/volist}
	
{/block}

<!--脚本-->
{block name="javascript"}
<script>
$(document).ready(function(){
	$('.tab-pane.active .loadurl').each(function(){
		var url = $(this).data('url');
		$(this).html('<div class="text-center"><img src="/images/loading.gif" alt="loading"></div>').load(url);
	});
	
	$('.nav li').click(function(){
		var index = $(this).index();
		var obj = $(this).closest('.group-field').find('.tab-pane').eq(index).find('.loadurl');
		if(obj.html() == ''){
			var url = obj.data('url');
			obj.html('<div class="text-center"><img src="/images/loading.gif" alt="loading"></div>').load(url);
		}
	});
});

/**
 * 新增参数
 * @param {Object} group_id
 */
function addField(group_id){
	vmodal({
		title:'新增参数',
		url:'/configfield/add/group_id/'+group_id,
		width:1000,
	});
}

/**
 * 删除参数
 * @param {Object} id
 */
function deleteField(id){
	vmodal({
		title:'删除参数',
		msg:'<h3 class="text-center">真的要删除参数吗？</h3>',
		footer:'show',
		footerBtn:'<button type="button" class="btn btn-outline red btn-ok">确定</button>',
		},function(){
			$('.ajax-modal .btn-ok').click(function(){
				ajax_post({
					url:'/configfield/deleteField',
					data:{id:id},
					success:function(ret){
						if(ret.code == 1){
							$('[data-id="'+id+'"]').remove();							
							$('.ajax-modal').modal('hide');
						}
						toast(ret);
					}
				});				
			});
		});		

}
</script>
{/block}
