/*全局定义开始*/
body{font-size: 12px;font-family: 'Arial','Times New Roman','Microsoft YaHei','SimHei';margin: 0;padding: 0;}
a:hover,
a:focus{text-decoration: none;color: #67aaec}
a.c-white:hover{color:white}
a.c-333:hover{color:#333}
/*全局定义结束*/


/*首页开始*/
.index-nav-top{line-height: 37px;text-align: right;font-size: 14px;color: #666}
.index-nav-class{height: 123px;padding: 40px 0}
.index-nav-ul li {float: left;margin-right: 10px;width: 100px;text-align: center}
.index-nav-ul li.active,
.index-nav-ul li:hover {background: #4195e7; border-radius:6px; }
.index-nav-ul li:hover {
	-webkit-animation: moveToLeft ease .5s both;
	animation: moveToLeft ease .5s both;
}
@keyframes moveToLeft {
	0% { -webkit-transform: translateY(-16%);-webkit-opacity:0.1;transform: translateY(-16%);opacity:0.1;}
	5% { -webkit-transform: translateY(-16%);-webkit-opacity:0.2;transform: translateY(-16%);opacity:0.2;}
	35% { -webkit-transform: translateY(2%);-webkit-opacity:0.3;transform: translateY(2%);opacity:0.3;}
	60% { -webkit-transform: translateY(-2.6%);-webkit-opacity:0.5;transform: translateY(-2.6%);opacity:0.5;}
	65% { -webkit-transform: translateY(-2.6%);-webkit-opacity:0.65;transform: translateY(-2.6%);opacity:0.65;}
	100% { -webkit-transform: translateY(0%);-webkit-opacity:1;transform: translateY(0%);opacity:1;}
}
.index-nav-ul li a{line-height: 35px;display:inline-block;text-align: center;font-size: 16px;color: #666;padding: 3px 10px;}
.index-nav-ul li.active a,.index-nav-ul li:hover a{color:white}

.banner-box .swiper-slide .title{padding: 145px 0 50px 0px;}
.banner-box .swiper-slide .subtitle{font-size: 24px;color: #d5d5d6;padding-left: 0px;}
.banner-box .swiper-slide .banner-icon{font-size: 24px;color: white;padding-left: 0px;}
.swiper-container{max-height:360px}

.banner_480 {max-height: 480px; padding: 53px 64px 20px 10px;color: #FFF;}
.banner_480 img {max-width: 100%;height: auto;}
.banner_480  h1 {font-size: 88px;font-weight: bolder;}
.banner_480  h1  span {color: #FEAC2C}
.banner_480  .zhuanye_en {font-size: 40px;margin-top:-8px;}
.banner_480 .border4 {border-bottom: 3px solid #FFF;width: 100px}
.banner_480 .android {font-size:40px;margin-top: 24px }
.banner_480 .pro{ font-size: 32px;margin-top: 10px }
.banner_480 .pinzhi_en {font-size: 14px;margin-top: -4px}


.banner_intro {
    background-image: url(../images/app/app_01.jpg);
    background-repeat: no-repeat;
    background-position: center 124px;
    background-attachment: fixed;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
    min-height: 400px;
    height: 480px;


}

.Develop-box{padding: 30px 0 ;}
.develop-li img{border-radius: 15px;}
.develop-li .text{font-size: 18px;padding: 30px 0;}
.develop-li .develop-img{position: relative;border-radius: 15px;}
.develop-li .develop-img img{transition: transform 0.6s;}
.popup-animation{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.develop-li:hover .popup-animation{background-color: rgba(0,0,0,0);} /*待定*/
.develop-li:hover .develop-img img{transform: scale(1.1,1.1);}
.popup-animation:before {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    pointer-events: none;
}

.develop-li:hover .popup-animation:before{
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(2.9,2.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

.case-box{padding: 30px 0px 70px;}
#case-thumbs-ul li{overflow: hidden;text-align: center;margin-bottom: 20px;}
#case-thumbs-ul .case-thumbs-img{position: relative;overflow: hidden;border-radius: 15px;}
#case-thumbs-ul li .case-tx{position: absolute;background: #333;background: rgba(255,255,255,0.2);width: 100%;height: 100%;}
#case-thumbs-ul li:nth-child(2) .case-thumbs-img span{color: #333;border-right: 0px solid #666}
#case-thumbs-ul li .case-thumbs-img span{font-size: 20px;color: white;position: absolute;right: 0;bottom: 0;margin: 15px; padding: 0 1em;max-width: 150px;border-right: 0px solid #fff;text-align: right;opacity: 1;-webkit-transition: opacity 0.35s;transition: opacity 0.35s;}
#case-thumbs-ul li .case-round-box img{
    margin: -10px 0 0 -10px;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
}
.case-round-box{width: 277px;height: 195px;overflow: hidden;border-radius: 15px;}
.case-round-box:before{position: absolute;
    right: -65px;
    bottom: -100px;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.3);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;    transition: opacity 0.35s, transform 0.35s;z-index: 1}

#case-thumbs-ul li .case-round-box span{position: absolute;
    right: 9px;
    bottom: -7px;
    padding: 0 1.5em 1.5em 0;
    width: 140px;
    text-align: right;
    opacity: 0;
    color: white;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);font-size: 20px;transition: opacity 0.35s, transform 0.35s;
}
#case-thumbs-ul li:hover .case-round-box img{
    opacity: 0.6;

    -webkit-transform: translate3d(0px,0px,0);
    transform: translate3d(0px,0px,0);
}
#case-thumbs-ul li:hover .case-round-box:before,
#case-thumbs-ul li:hover .case-round-box span{opacity: 1;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}

.beusing-box{padding: 85px 0}
.third-party-ul li{margin-bottom: 15px;width:20%;float: left;padding-left: 5px;padding-right:5px;overflow: hidden;}
.third-party-ul li img{max-width: 100%}
.third-party-ul li:hover .solid-all-ddd{border: 1px solid #4195e7}
.footer-box{padding: 70px 0px 56px;}
/*首页结束*/


/*APP开始*/
.app_introduction {padding:40px;border:1px solid #e3e3e3;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.work {padding:40px;border:1px solid #e3e3e3;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.app_introduction p {line-height:30px;height: 90px;}
.app_introduction .icon {position:relative;left:50%;margin-left:-35px;margin-top:-77px;}
.app_introduction:hover,.work:hover {-webkit-transform:translateY(-3px);transform:translateY(-3px);-webkit-box-shadow:6px 8px 15px #999;box-shadow:6px 8px 15px #999;cursor:pointer;}
.app_increment {padding:0 110px}
.app_increment .work {height:300px;padding-top:75px;background:#f4f4f4}
.app_increment .work h3{font-weight: 600;font-size: 20px;}
.transition_edge {position:relative;margin-top:100px}
.transition_edge .big_img {position:absolute;left:80px}
.transition_edge .smoll_img {position:absolute;left:180px;top:30px}
.text_edge {padding-top:220px;}
.masseg {padding:50px 0;background-image:url("../images/app/footer_bg.png");background-size:100%}
.text_input input,.text_input textarea {background:none;color:white}
.btnner-center{position: relative;left: 50%;margin-left: -960px;}
.shadow_bg{box-shadow: 5px 5px 25px 5px #ECEBEB;}
.message-form-box label{color: #cc0000;margin-top: 10px;}
/*APP结束*/



/*详情*/
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 5px;
}
.app_left_img{
	width:750px
}
.scroll_fixed{
	position: fixed;
    width: 360px;
    top: 20px;
}
.jiathis_style_32x32 .jtico{background-image:url(../images/app/jiathis_ico_32x32.png) !important}

/*APP结束*/


/*关于我们*/
.solid_center {display:inline-block;border:1px solid #f97272;width:60px;margin-top:-5px;margin-bottom:10px;}
.solid_center_60 {display:inline-block;border:1px solid #f97272;width:60px;margin-bottom:10px}
.stamp {width:1px;border-left:1px solid #e4eaec}
.stamp .line {width:1px;padding-top:40px;padding-bottom:40px;position:relative;}
.stamp .date {width:150px;color:#888;font-size:14px;position:absolute;top:32px;left:50px}
.stamp .line:nth-child(2n) .text_title {left:50px;}
.stamp .line:nth-child(2n) .text_title:hover {left:100px;}
.stamp .line:nth-child(1) .text_title {background-color:#57c7d4}
.stamp .line:nth-child(2) .text_title {background-color:#62a8ea}
.stamp .line:nth-child(3) .text_title {background-color:#f96868}
.stamp .line:nth-child(4) .text_title {background-color:#46be8a}
.stamp .line:nth-child(5) .text_title {background-color:#57c7d4}
.stamp .line:nth-child(6) .text_title {background-color:#62a8ea}
.stamp .line:nth-child(7) .text_title {background-color:#f96868}
.stamp .line .text_title:hover {left:-550px;}
.stamp .line:nth-child(2n) .date {left:auto;right:50px;text-align:right}
.core {width:30px;height:30px;border-radius:20px;background:white;margin-left:-15px}
.core span {width:20px;height:20px;display:inline-block;border-radius:20px;background:#4195e7;margin:5px}
.text_title {width:450px;padding:25px 15px;color:white;font-size:16px;border-radius:5px;position:absolute;left: -500px;top: 18px;transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;

	}

.news_map {background-image:url("../images/about/bg_1.png");background-size:100% 100%}
.date_day {font-size:46px;line-height:36px;height:36px;display:inline-block;}
.computer {margin:30px 0 -30px;}
#new-left-box .media-body .news-cont-div{
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.newsdata-box .media-body .newsdata-li-content{
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*游戏开发开始*/
.model-box{position: relative;width: 566px;height: 400px}
.model-one{padding: 25px 0;}
.model-img1{position: absolute;left: 0px;top: 0px;z-index: 1;transition: all 2s;-webkit-transition: all 2s;-o-transition: all 2s;}
.model-img2{position: absolute;left: 50px;top: 50px;z-index: 2;transition: all 2s;-webkit-transition: all 2s;-o-transition: all 2s;}
.model-one:hover .model-img1{z-index: 2;left: 50px;top: 50px;}
.model-one:hover .model-img2{z-index: 1;left: 0px;top: 0px;}
/*游戏开发结束*/


/*经典案例开始*/
.industry-case-box ul{margin-top: 9px;}
.industry-case-box li{margin: 0 10px;padding: 10px 5px;}
.industry-case-box li.active{padding: 0}
.industry-case-box li.active a{background-color: #3f8fed;color: white;display: inline-block;padding: 7px 13px;border-radius: 4px;}
.industry-case-box li a{color: #666666}
/*.industry-case-box li:first-child a{color: #3f8fed;}*/

.case-images-box{padding: 50px 0;}
.case-li{border-radius: 4px;overflow: hidden;margin-bottom: 25px;transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.case-li:hover{box-shadow: 2px 2px 11px 5px #cacaca;}
.case-li-bot{padding:30px 30px 10px;height: 160px;line-height: 19px;}
/*经典案例结束*/

/*商城开发开始*/
/*.shop-one-bg{background: url("../images/shop-one-bg.jpg") center center no-repeat;padding-top: 80px;}*/
.shop-one-bg{background: #FFF;padding-top: 60px;}
.shop-one-img2{position: absolute;right: -150px;bottom: 0px;}
/*.shop-two-bg{background: url("../images/shop-two-bg.jpg") center center no-repeat;padding: 180px 0 250px 80px;}*/
.shop-two-bg{background: #F2F2F2;padding: 60px 0 250px 80px;}
.shop-btn-down{text-align: left!important;padding: 10px 25px;}

/*.shop-three-bg{background: url("../images/shop-three-bg.png") center center no-repeat;padding:250px 0 140px;margin-top: -180px;}*/

.shop-three-bg{background: #FFF;padding:50px 0 213px 140px;margin-top: -180px;}

.col-lz-2{width:20%;float: left;position: relative;padding-left: 15px;padding-right: 15px; }
/*商城开发结束*/

/*新闻资讯开始*/
.input-news{width: 100%;}
.input-news input{padding-right: 35px;border-radius: 20px!important;}
.input-news i{position: absolute;right: 9px;color: #141414;font-size: 23px;z-index: 999;top: 5px;}
.media-middle {padding-right: 20px}
/*新闻资讯结束*/



/*按钮样式开始*/
.my-btn-blues:not(.btn-outline) {
    color: #fff;
    background-color: #3f8fed;
    border:1px solid  #3f8fed;
}

.my-btn-blues:not(.btn-outline) {
    color: #fff;
    background-color: #3f8fed;
    border:1px solid  #3f8fed;
}

.my-btn-white:not(.btn-outline) {
    color: #4195e7;
    background-color: #fff;
    border:1px solid  #fff;
}
.my-btn-tran-border-blue:not(.btn-outline) {
    color: #3f8fed;
    background-color: transparent;
    border:1px solid  #3f8fed;
}

.my-btn-gary:not(.btn-outline) {
    color: #666;
    background-color: #e0e0e0;
    border:1px solid  #ccc;
    background-image: none!important;
}


/*链接样式开始*/

.button_details {
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button_details:focus {
    outline: none;
}
.button_details > span {
    vertical-align: middle;
}


.button--winona {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}
.button--winona > span {
    display: block;
}

.button--winona::after,
.button--winona > span {
    padding: 1em 2em;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
    border-color: #3f51b5;
    background-color: #1f63b2;
}

.button--winona:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}

/*链接样式结束*/


/*按钮样式结束*/




/*公共样式开始*/
.pd0{padding: 0px;}
.pd10{padding:10px}
.pd30{padding:30px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt25{padding-top: 25px;}
.pt80{padding-top: 80px;}
.pb25{padding-bottom: 25px;}
.pb80{padding-bottom: 80px;}
.pl0{padding-left:0}
.ptb10{padding-top: 10px;padding-bottom: 10px;}
.ptb40{padding-top:40px;padding-bottom:40px}
.ptb50{padding-top:50px;padding-bottom:50px}
.plr7{padding-left:7px;padding-right:7px}
.plr10{padding-left: 10px;padding-right: 10px;}
.plr15{padding-left: 15px;padding-right: 15px;}
.plr25{padding-left: 25px;padding-right: 25px;}
.plr30{padding-left:30px;padding-right:30px}
.pl15{padding-left: 15px;}
.mlr-7{margin-left: -7px;margin-right: -7px;}
.mlr-30{margin-left:-30px;margin-right:-30px}
.mg0{margin: 0}
.mt0{margin-top:0px}
.mt5{margin-top:5px}
.mt6{margin-top: 6px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt40{margin-top:40px}
.mb-1{margin-bottom:-1px}
.mb0{margin-bottom:0}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom:15px}
.mb20{margin-bottom: 20px;}
.mb40{margin-bottom: 40px;}
.mb70{margin-bottom:70px}
.mb100{margin-bottom:100px}
.mr5{margin-right: 5px}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs24{font-size: 24px;}
.fs26{font-size: 26px;}
.line30{line-height: 30px;}
.line26{line-height: 26px;}
.c-666{color: #666666} /*黑灰色*/
.c-888{color: #888888} /*浅灰色*/
.c-000{color: #000000} /*黑黑色*/
.c-blue{color:#4195e7} /*蓝色*/
.c-white{color:white}  /*白色*/
.bg_white{background-color: white} /*白色底*/
.bg_f2f{background-color: #f2f2f2} /*灰色底*/
.bg_f4f{background-color: #f4f4f4} /*灰色底*/
.bg_f7f{background-color: #f7f7f7} /*灰色底*/
.bg_222{background-color: #222429} /*黑色底*/
.bg_f4{background-color: #f4f4f4}  /*灰色底*/
.bg_419{background-color: #4195e7} /*蓝色底*/
.solid-b-f7f{border-bottom: 1px solid #f7f7f7}  /*灰色底边*/
.solid-b-e5{border-bottom: 1px solid #e5e5e5}   /*白色边框*/
.solid-2b-419{border-bottom: 2px solid #4195e7} /*蓝色边框*/
.solid-3l-419{border-left: 3px solid #4195e7}   /*蓝色边框*/
.solid-all-ddd{border: 1px solid #dddddd}       /*灰色边框*/
.solid-all-e5e{border: 1px solid #e5e5e5}       /*灰色边框*/
.solid-b-white{border-bottom:1px solid white;height:2px}/*边框*/
.top_100 {margin-top: -142px;position: absolute;}
.h2{height:2px}
.over{overflow: hidden}
.re{position: relative}
.text_em {text-indent: 2em;}
.max_img{max-width:100%}
.amg img{max-width:100%}
.bor_10{border-radius: 10px;}
.dinline{display: inline-block}
.w1200{width: 1200px;margin: auto;}
.text_over {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
@media (min-width:1200px){.container{width:1200px}}
.img_radius{border-radius:100px}

/*公共样式结束*/

/*********公共样式保持最后面**********/





/**
 * =========css media screen   PC  开始
 * 
 */
    @media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
        .banner_intro {height: 380px}
    }

    @media only screen and (min-width:1366px){
        /* styles for browsers larger than 1440px; */
        .banner_480 {height: 380px;padding-top: 34px}
        .banner_480 h1 {font-size: 60px}
        .banner_480 .zhuanye_en {font-size: 30px;margin-top:-8px;}
        .banner_480 .android {font-size:30px;margin-top: 24px }
        .banner_480 .pro{ font-size: 22px;margin-top: 10px }
        .banner_480 .pinzhi_en {font-size: 14px;margin-top: -4px}

        
    }

    @media only screen and (min-width:1440px) {
        .banner_480 h1 {font-size: 60px}
        .banner_480  .zhuanye_en {font-size: 30px;margin-top:-8px;}
        .banner_480 .android {font-size:30px;margin-top: 24px }
        .banner_480 .pro{ font-size: 22px;margin-top: 10px }
        .banner_480 .pinzhi_en {font-size: 14px;margin-top: -4px}
    }



    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1920px) {
        .banner_480 h1 {font-size: 60px}
        .banner_480  .zhuanye_en {font-size: 30px;margin-top:-8px;}
        .banner_480 .android {font-size:30px;margin-top: 24px }
        .banner_480 .pro{ font-size: 22px;margin-top: 10px }
        .banner_480 .pinzhi_en {font-size: 14px;margin-top: -4px}
    }

 

/**
 * =========css media screen   PC  结束
 * 