{extend name="public:base" /}
<!--导航-->
{block name="nav"}{include file="configcategory:nav" /}{/block}
{block name="search"}{include file="configcategory:search" /}{/block}
<!--主体内容-->
{block name="content"}
<form class="form-list" id="form-list" onsubmit="return false">
	<div class="note note-info">
		<p> 提示：拖动行可进行排序。 </p>
	</div>	
	{$html_table}	
</form>
<div class="md-buttom-bar clearfix"></div>
{notempty name="res.data"}
<div class="buttom-bar">
	<div class="btn blue btn-100px fl mr10" onclick="selectAll({tag:'.form-list'})">全选/反选</div> <div class="btn red btn-100px fl mr10" onclick="deleteSelect()">删除记录</div>
	{:form_item(
			array(
				'formtype'		=>'select',
				'label'			=>'状态',
				'name'			=>'status',
				'data'			=> [[1,'启用'],[0,'停用']],
				'field'			=>[0,1],
				'next_btn'		=>'<button class="btn btn-info" onclick="setStatus($(this))">设置状态</button>',
				'is_first'		=>0,
				'input_group_attr' => 'style="width:200px;float:left;margin-right:10px;"',
			)		
	)}
	
	{:form_item(
			array(
				'formtype'		=>'select',
				'label'			=>'转移目录',
				'name'			=>'status',
				'data'			=> $res,
				'field'			=>['id','category_name'],
				'is_category'	=>1,
				'next_btn'		=>'<button class="btn btn-info" onclick="changeCategory($(this))">转移目录</button>',
				'is_first'		=>0,
				'input_group_attr' => 'style="width:300px;float:left;margin-right:10px;"',
			)		
	)}	
	<div class="clearfix"></div>
</div>
{/notempty}
{/block}

<!--脚本-->
{block name="javascript"}
<script>
	function deleteSelect(){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size < 1){
			toast({msg:'请至少选择一条记录！'});
			return;
		}
		var data = getFormJson('#form-list');
		vmodal_confirm({
			title:'删除记录',
			msg:'<h3 class="text-center">真的要删除记录吗？</h3><div class="text-center">如有子级，会将所有子级都一并删除；<br />如存在关联记录，请先将关联的记录删除后方可执行类别删除操作！</div>',
			url:'{:url(request()->controller().'/deleteCategorySelect')}',
			data:data,
			success:function(ret){
				toast(ret);
				if(ret.code == 1){
					$('.form-list input[type="checkbox"]:checked').each(function(){
						//console.log($(this).closest('tr').next().html());
						if($(this).closest('tr').next() && $(this).closest('tr').next().hasClass('table-sublist')) $(this).closest('tr').next().remove();
						
						$(this).closest('tr').remove();
					});
					
					$('.ajax-modal').modal('hide');
				}
			}
		});
	}
	
	function setStatus(obj){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size < 1){
			toast({msg:'请至少选择一条记录！'});
			return;
		}
		
		var data = getFormJson('#form-list');
		data.field 	= obj.closest('.input-group').find('select').attr('name');
		data.value	= obj.closest('.input-group').find('select').val();
		//console.log(data);
		ajax_post({
			url:'{:url(request()->controller().'/setStatus')}',
			data:data,
			success:function(ret){
				toast(ret);
				setTimeout(function(){
					location.reload();
				},1000);
			}
		});
	}
	
	$('.form-list table').each(function(){
		var obj = $(this);
		$(this).find('tbody').sortable({
			stop: function(event, ui) {
				var id = obj.find('tr').map(function() { return $(this).attr("id"); }).get();
				console.log(id);
				ajax_post({
					url:'{:url(request()->controller().'/setSort')}',
					data:{id:id}
				});
			}	
		});		
		
	});	
	
	function changeCategory(obj){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size < 1){
			toast({msg:'请至少选择一条记录！'});
			return;
		}
		var data = getFormJson('#form-list');
		data.upid = obj.closest('.input-group').find('select').val();
		vmodal_confirm({
			title:'删除记录',
			msg:'<h3 class="text-center">真的要删除记录吗？</h3><div class="text-center">不可将父级移入子级，否则会出错！</div>',
			url:'{:url(request()->controller().'/changeCategory')}',
			data:data,
			success:function(ret){
				toast(ret);
				if(ret.code == 1){
					setTimeout(function(){
						location.reload();
					},1000);
					$('.ajax-modal').modal('hide');
				}
			}
		});		
	}
</script>
{/block}
