{extend name="public:base" /}
<!--导航-->

<!--主体内容-->
{block name="content"}
<form class="form-horizontal" id="form-login" action="/login/checkLogin" onsubmit="return sendForm($(this))">
	<div class="login-box">
		<div class="portlet light ">
			<div class="portlet-title">
				<h4 class="text-center">雇员登录</h4>
			</div>
			<div class="portlet-body form">
					<div class="form-body m20">
						<div class="form-group">
							<div class="input-icon input-icon-lg">
								<i class="fa fa-user"></i>
								<input type="text" name="username" class="form-control input-lg" placeholder="雇员账号" maxlength="30"> 
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon input-icon-lg">
								<i class="fa fa-key"></i>
								<input type="password" name="password" class="form-control input-lg" placeholder="登录密码" maxlength="30"> 
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-7">
								<div class="form-group">
									<div class="input-icon input-icon-lg">
										<i class="fa fa-key"></i>
										<input type="text" name="vcode" class="form-control input-lg" placeholder="验证码" maxlength="5"> 
									</div>
								</div>								
							</div>
							<div class="col-xs-5 refVcode" onclick="refVcode($(this))">
								{:captcha_img()}
							</div>
						</div>

					</div>
					<div class="form-actions text-center">
						<button type="submit" class="btn red btn-lg btn-block"><i class="fa fa-key"></i> 登录</button>
					</div>

			</div>
		</div>
	</div>


</form>

{/block}

<!--脚本-->
{block name="javascript"}
{js href="/js/work/rand-bg.js" /} 
<script>
	function sendForm(obj){
		submitForm({
			formid:'#form-login',
			success:function(ret){
			    console.log(ret);
				if(ret.code == 1){
					location.href = '/';
				}else if(ret.code == 10){
					$('.refVcode').click();					
					ret.code = 0;
				}				
				toast(ret);
				
			}
		});
		return false;
	}

</script>
{/block}
