<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {block name="title"}<title>{notempty name='title'}{$title}{else/}{$seo.title}{/notempty}</title>{/block}
    {block name="keywords"}<meta name="keywords" content="{notempty name='keywords'}{$keywords}{else/}{$seo.keywords}{/notempty}">{/block}
    {block name="description"}<meta name="description" content="{notempty name='description'}{$description}{else/}{$seo.description}{/notempty}">{/block}
    <link rel="lyjicon" href="favicon.ico" type="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/bootstrap/css/bootstrap.min.css">
    <link href="__STATIC__/index/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="__STATIC__/index/bootstrap/css/fonts.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css">
</head>
<body>

<!--导航开始-->
<div class="index-nav-class">
    <div class="w1200">
        <a href="/index"><img src="__STATIC__/index/images/index-logo.jpg" alt=""></a>
        <ul class="list-unstyled index-nav-ul pull-right">

            <li class="{eq name='action' value='index'}active{/eq}"><a href="/index/">首页</a></li>
            <li class="{eq name='action' value='app'}active{/eq}"><a href="/app/">APP开发</a></li>
            <li><a href="#download-modal-mac" data-toggle="modal">游戏开发</a></li>
            <li class="{eq name='action' value='shop'}active{/eq}"><a href="/shop/">商城开发</a></li>
            <li class="{eq name='action' value='case_app'}active{/eq}"><a href="/case_app/">经典案例</a></li>
            <li class="{eq name='action' value='about'}active{/eq}"><a href="/about/">关于我们</a></li>
        </ul>
    </div>
</div>
<!--导航结束-->




{block name='content'}{/block}




<!--模态框开始-->

<div class="modal fade" id="download-modal-mac" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel32">提示</h4>
            </div>
            <div class="modal-body">
                <h4>
                    玩命开发中...
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default my-btn-gary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--模态框开始-->


<!--模态框开始-->

<div class="modal fade" id="formMessage-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <h4>
                    提交失败。
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default my-btn-gary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--模态框开始-->

<!--模态框开始-->

<div class="modal fade" id="formMessage-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <h4>
                    我们已经收到你的需求。
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default my-btn-gary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--模态框开始-->

{block name='bottom'}{/block}


{block name='footer'}

<!--页尾开始-->
<div class="footer-box">
    <div class="container pd0">
        <div class="row mg0" id="foot-cont">
            {foreach name="bottom_menu" item="vo" key="k"}
            {eq name='k' value='0'}
            <div class="col-lz-2 col-md-4 pd0">
                <div class=" fs14">
                    <div class="c-666 fs16 mb20"><strong>{$vo.name}</strong></div>
                    {foreach name="vo.child" item="vol"}
                    <img src="{$vol.images}" alt="" width="100">
                    {/foreach}
                </div>
            </div>
            {/eq}
            {eq name='k' value='1'}
            <div class="col-lz-2 col-md-4 pd0">
                <div class=" fs14">
                    <div class="c-666 fs16 mb20"><strong>{$vo.name}</strong></div>
                    {foreach name="vo.child" item="vol"}
                    <div class="mb20"><a href="{$vol.url}" class="c-888" target="_blank">{$vol.name}</a></div>
                    {/foreach}
                </div>
            </div>
            {/eq}
            {eq name='k' value='2'}
            <div class="col-lz-2 col-md-4 pd0">
                <div class=" fs14">
                    <div class="c-666 fs16 mb20"><strong>{$vo.name}</strong></div>
                    {foreach name="vo.child" item="vol"}
                    <div class="mb20"><a href="{$vol.url}" class="c-888" target="_blank">{$vol.name}</a></div>
                    {/foreach}
                </div>
            </div>
            {/eq}
            {eq name='k' value='3'}
            <div class="col-lz-2 col-md-4 pd0">
                <div class=" fs14">
                    <div class="c-666 fs16 mb20"><strong>{$vo.name}</strong></div>
                    {foreach name="vo.child" item="vol"}
                    <div class="mb20"><a href="{$vol.url}" class="c-888" target="_blank">{$vol.name}</a></div>
                    {/foreach}
                </div>
            </div>
            {/eq}
            {/foreach}
        </div>
    </div>
</div>

<!--页尾结束-->

<!--友情链接开始-->
<div class="pt25 pb25 c-888 fs14 bg_f2f">
    <div class="w1200 line30">
        ©2017 广州零壹聚网络科技有限公司 .ALL Right Reservd. | 粤ICP备17092225号<img src="__STATIC__/index/images/foot-ba-icon.png" alt="" style="margin-right: 5px;margin-left: 5px;">粤公网安备 44010402001045号
    </div>

</div>
<!--友情链接结束-->

</body>
<script src="__STATIC__/index/js/jquery.min.js"></script>
<script src="__STATIC__/index/js/swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.hoverdir.js"></script>
<script src="__STATIC__/index/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/app.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/template7.min.js"></script>

</html>
{/block}
{block name='script'}{/block}