{extend name="public:base" /}
<!--导航-->
{block name="nav"}{include file="formtpl:nav" title="修改表单" /}{/block}

<!--主体内容-->
{block name="content"}		
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tabs_1" data-toggle="tab" aria-expanded="true"> 基本设置 </a>
		</li>
		<li>
			<a href="#tabs_2" data-toggle="tab" aria-expanded="false"> 列表设置 </a>
		</li>
		<li>
			<a href="#tabs_3" data-toggle="tab" aria-expanded="false"> 搜索表单 </a>
		</li>		
		<li>
			<a href="#tabs_4" data-toggle="tab" aria-expanded="false"> 关联模型 </a>
		</li>
		<li>
			<a href="#tabs_5" data-toggle="tab" aria-expanded="false"> 视图模型 </a>
		</li>
		<li>
			<a href="#tabs_6" data-toggle="tab" aria-expanded="false"> 模型文件 </a>
		</li>
		<li>
			<a href="#tabs_7" data-toggle="tab" aria-expanded="false"> 创建控制器 </a>
		</li>		
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane fade active in" id="tabs_1">
			<form class="form-horizontal" id="form-base" onsubmit="return submitBase()">
			{:buildform(array(
				'field'		=>array(
					array(
						'formtype'		=>'text',
						'label'			=>'模板名称',
						'name'			=>'tpl_name',
						'is_need'		=>true,
					),
					array(
						'formtype'		=>'text',
						'label'			=>'数据表',
						'name'			=>'tables',
						'is_need'		=>true,
					),
					array(
						'formtype'		=>'radio',
						'label'			=>'实列化类型',
						'name'			=>'action_type',
						'field'			=>[0,1],
						'data'			=>[['default','默认'],['relation','关联模型'],['view','视图']],
						'value'			=>0,
						'is_need'		=>true,
					),
					array(
						'formtype'		=>'text',
						'label'			=>'数据排序',
						'name'			=>'order',
					),
					array(
						'formtype'		=>'text',
						'label'			=>'分页',
						'name'			=>'pagesize',
					),
					array(
						'formtype'		=>'text',
						'label'			=>'搜索栏列数',
						'name'			=>'search_col',
					),
					array(
						'formtype'		=>'textarea',
						'label'			=>'模板描述',
						'name'			=>'remark',
					),		
					array(
						'formtype'		=>'hidden',
						'name'			=>'id',
					),
					array(
						'formtype'		=>'button',
						'btns'			=>[['提交','btn btn-danger btn-150px','submit']],
					),					
				),
			),$rs)}		
			</form>
		</div><!--/tab1-->
		<div class="tab-pane fade in" id="tabs_2">
			<div class="note note-info">				
				<p> 提示：拖动可排序</p>
			</div>			
			<form class="form-horizontal" id="form-listfields" onsubmit="return listFieldsSave()">
				<table class="table table-bordered table-hover valign-middle">
					<thead>
						<th width="8%" class="text-center">选择</th>
						<th width="15%" class="text-center">标签</th>
						<th width="20%" class="text-center">字段名</th>
						<th width="35%" >处理函数</th>
						<th width="27%" >列属性</th>				
					</thead>
					<tbody>
						{volist name="rs.list_fields" id="vo"}
						<tr>
							<td class="text-center">
								<label class="mt-checkbox mt-checkbox-outline">
									<input type="checkbox" id="checked[]" name="checked[]" value="{$i-1}" checked="checked">
									<span></span>
								</label>
							</td>
							<td><input name="label[]" value="{$vo.label}" class="form-control"></td>
							<td><input name="name[]" value="{$vo.name}" class="form-control"></td>
							<td><input name="function[]" value="{:isset($vo['function'])?htmlspecialchars($vo['function']):''}" class="form-control" placeholder="如：return 变量或函数"></td>
							<td><input name="attr[]" value="{:isset($vo['attr'])?htmlspecialchars($vo['attr']):''}" class="form-control" placeholder="如：class=text-center"></td>
						</tr>
						{/volist}
					</tbody>
					
				</table>	
				<input type="hidden" name="id" value="{$rs.id}">
				<div class="m20 text-center">
					<button type="submit" class="btn btn-danger btn-150px">提交</button>
					<button type="button" class="btn btn-info btn-150px" onclick="addListfield()">添加列表字段</button>
				</div>
				
			</form>
		</div><!--/tab2-->
		<div class="tab-pane fade in" id="tabs_3">
			<div class="note note-info">				
				<p> 提示：拖动可排序</p>
			</div>	
			

			<form class="form-horizontal" id="form-searchfields" onsubmit="return searchFieldsSave()">
				<table class="table table-bordered table-hover valign-middle">
					<thead>
						<th width="8%" class="text-center">选择</th>
						<th width="8%" class="text-center">ID</th>
						<th class="text-center">状态</th>
						<th class="text-center">标签名</th>
						<th class="text-center">字段名</th>								
						<th class="text-center">表单类型</th>
						<th class="text-center">映射字段</th>
						<th class="text-center">匹配方式 </th>	
						<th width="10%" class="text-center">操作 </th>
					</thead>
					<tbody>
						{volist name="search_fields" id="vo"}
						<tr data-id="{$vo.id}">
							<td class="text-center">
								<label class="mt-checkbox mt-checkbox-outline">
									<input type="checkbox" id="id[]" name="id[]" value="{$vo.id}">
									<span></span>
								</label>
							</td>							
							<td class="text-center">{$vo.id}</td>
							<td class="text-center">{:status($vo['status'])}</td>
							<td>{$vo.label}</td>
							<td>{$vo.name}</td>
							<td>{$vo.formtype}</td>
							<td class="text-center">{$vo.map_field}</td>
							<td class="text-center">{$vo.search_type}</td>
							<td class="text-center"><button type="button" class="btn btn-info" onclick="vmodal({title:'搜索字段设置',url:'/formtpl/searchFieldDetail/id/{$vo.id}',width:1000})"><i class="icon-settings"></i> 设置</button></td>
						</tr>
						{/volist}
					</tbody>
					
				</table>	
				<div class="m20 text-center">
					<button type="button" class="btn btn-danger btn-100px" onclick="deleteSearchField()">删除</button>
					<button type="button" class="btn btn-info" onclick="vmodal({title:'添加搜索字段',url:'/formtpl/addSearchField/tables/{$rs.tables}/id/{$rs.id}',width:1000})">添加搜索字段</button>
					<button type="button" class="btn btn-info" onclick="vmodal({title:'从数据表结构中添加字段',url:'/formtpl/searchFieldFromTable/tables/{$rs.tables}/id/{$rs.id}',width:1000})">从表结构中选取</button>
				</div>
				
			</form>			
		</div><!--/tab2-->
		<div class="tab-pane fade in" id="tabs_4">
			<form class="form-horizontal" id="form-relation" onsubmit="return submitRelation()">
			{:buildform(array(
				'field'		=>array(
					array(
						'formtype'		=>'textarea',
						'label'			=>'关联模型配置',
						'name'			=>'relation_model',
						'attr'			=>'rows="10"',
					),		
					array(
						'formtype'		=>'hidden',
						'name'			=>'id',
					),
					array(
						'formtype'		=>'button',
						'btns'			=>[['提交','btn btn-danger btn-150px','submit']],
					),					
				),
			),$rs)}
			</form>			
		</div><!--/tab2-->
		<div class="tab-pane fade in" id="tabs_5">	
			<form class="form-horizontal" id="form-view" onsubmit="return submitView()">
			{:buildform(array(
				'field'		=>array(
					array(
						'formtype'		=>'textarea',
						'label'			=>'视图配置',
						'name'			=>'view_model',
						'attr'			=>'rows="10"',
					),		
					array(
						'formtype'		=>'hidden',
						'name'			=>'id',
					),
					array(
						'formtype'		=>'button',
						'btns'			=>[['提交','btn btn-danger btn-150px','submit']],
					),					
				),
			),$rs)}
			
			<div class="row">
				<div class="col-xs-offset-3 col-xs-6">
					<pre>
//格式如下：（[field]代表已设置的字段列表，会自动替换，也可自行指定字段）
return array(
	['sup_help','[field]'],
	['sup_help_category','id,category_name','sup_help.category_id=sup_help_category.id'],
);	
					</pre>					
				</div>
			</div>

			</form>				
		</div><!--/tab2-->
		<div class="tab-pane fade in" id="tabs_6">
			<div class="note note-info">
				<div class="pull-right"><div class="btn btn-info" onclick="createModelFile(1)">创建验证模型文件</div></div>
				<h4 class="block">创建数据验证模型（validate/{:format_model_name($rs['tables'],$rs['id'])}.php）</h4>
				<p> 如果模型文件已存在将会直接覆盖，操作前请先检查确认！ </p>
			</div>	
			<div class="note note-default">
				<div class="pull-right"><div class="btn btn-info" onclick="createModelFile(2)">创建数据模型文件</div></div>
				<h4 class="block">创建数据模型（model/{:format_model_name($rs['tables'],$rs['id'])}.php）</h4>
				<p> 如果模型文件已存在将会直接覆盖，操作前请先检查确认！ </p>
			</div>			
			<div class="note note-danger">
				<div class="pull-right"><div class="btn btn-info"  onclick="createModelFile(3)">创建关联模型文件</div></div>
				<h4 class="block">创建关联模型（model/{:format_model_name($rs['tables'],$rs['id'])}Relation.php）</h4>
				<p> 如果模型文件已存在将会直接覆盖，操作前请先检查确认！ </p>
			</div>					
			
		</div><!--/tab2-->
		<div class="tab-pane fade in" id="tabs_7">
			<form class="form-horizontal" id="form-controller" onsubmit="return submitController()">
			{:buildform(array(
				'field'		=>array(
					array(
						'formtype'		=>'text',
						'label'			=>'控制器名称',
						'name'			=>'controller_name',
						'is_need'		=>true,
						'value'			=>$rs['tpl_name'],
					),
					array(
						'formtype'		=>'text',
						'label'			=>'控制器',
						'name'			=>'controller',
						'is_need'		=>true,
						'value'			=>format_model_name($rs['tables']),
					),
					array(
						'formtype'		=>'radio',
						'label'			=>'创建类型',
						'name'			=>'type',
						'data'			=>[['Default','默认'],['Category','适应分类较少'],['CategoryMore','适应分类较多']],
						'field'			=>[0,1],
						'value'			=>'Default',
					),
					array(
						'formtype'		=>'hidden',
						'name'			=>'formtpl_id',
						'value'			=>$rs['id'],
					),
					array(
						'formtype'		=>'button',
						'btns'			=>[['提交','btn btn-danger btn-150px','submit']],
					),					
				),
			))}		
			</form>			
		</div><!--/tab2-->
	</div>
	
	<div class="md20 clearfix"></div>
	
	<form class="form-list" id="form-list" onsubmit="return false;">
		{volist name="rs.group" id="gl"}
		<div class="portlet light bordered" data-id="{$gl.id}">
			<div class="portlet-title">
				<div class="caption">
					{$gl['is_lock']==1?'<i class="icon-lock" title="该分组不可删除"></i>':''}
					<span class="caption-subject font-dark bold uppercase">{$gl.group_name} {:$gl['status']==1?'<span class="text-success">（启用）</span>':'<span class="text-danger">（停用)</span>'}</span>
				</div>
				
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="vmodal({title:'设置分组',url:'/formtpl/getGroup/id/{$gl.id}',width:800})">
						<i class="icon-settings" title="设置"></i>
					</a>					
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="deleteGroup($(this))" data-id="{$gl.id}">
						<i class="icon-trash" title="删除"></i>
					</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="vmodal({title:'添加分组',url:'/formtpl/addGroup/formtpl_id/{$rs.id}/tables/{$rs.tables}',width:'800'})">
						<i class="fa fa-plus" title="添加"></i>
					</a>					
				</div>			
			</div>
			<div class="portlet-body">
				<table class="table table-bordered table-hover valign-middle">
					<thead>
						<th width="8%" class="text-center">选择</th>
						<th width="8%" class="text-center">ID</th>
						<th width="8%" class="text-center">状态</th>
						<th width="15%" >标题</th>
						<th width="10%" >字段名</th>
						<th>表单类型</th>
						<th width="5%" class="text-center">必填</th>
						<th width="5%" class="text-center">验证</th>
						<th width="12%" class="text-center">时间</th>
						<th width="8%" class="text-center">操作</th>					
					</thead>
					<tbody>
						{volist name="gl.fields" id="vo"}
						<tr data-id="{$vo.id}">
							<td class="text-center">
								<label class="mt-checkbox mt-checkbox-outline">
									<input type="checkbox" id="id[]" name="id[]" value="{$vo.id}">
									<span></span>
								</label>
							</td>
							<td class="text-center">{$vo.id}</td>
							<td class="text-center">{:status($vo['status'])}</td>
							<td>{$vo.label}</td>
							<td>{$vo.name}</td>
							<td>{$vo.formtype}</td>
							<td class="text-center">{:status($vo['is_need'],[['-',''],['是','text-success']])}</td>
							<td class="text-center">{:status($vo['is_verify'],[['-',''],['是','text-success']])}</td>
							<td class="text-center">{$vo.atime}</td>
							<td class="text-center">
								<div class="btn btn-info btn-sm" onclick="vmodal({title:'字段设置',url:'/formtpl/getField/id/{$vo.id}',width:1000})"><i class="icon-settings"></i> 设置</div>
							</td>
						</tr>
						{/volist}
					</tbody>
					
				</table>
			</div>
		</div>
		{/volist}		
	</form>
	<div class="m20">
		<div class="row">
			<div class="col-xs-5">
				<div class="btn btn-info btn-100px" onclick="selectAll({tag:'.form-list'})">全选</div>
				<div class="btn btn-danger btn-100px" onclick="deleteSelect()">删除</div>
				<div class="btn btn-info btn-150px" onclick="vmodal({title:'从数据表结构中添加字段',url:'/formtpl/fromTableField/table/{$rs.tables}/id/{$rs.id}',width:1000})">从表结构中创建</div>				
			</div>
			<div class="col-xs-2">
	{:form_item(
			array(
				'formtype'		=>'select',
				'label'			=>'字段分组',
				'name'			=>'group_id',
				'data'			=> db('formtpl_group')->where(['formtpl_id' => request()->param('id')])->field('id,group_name')->select(),
				'field'			=>['id','group_name'],
				'next_btn'		=>'<button class="btn btn-info" onclick="changeGroup($(this))">移入分组</button>',
				'is_first'		=>0,
			)		
	)}			
			</div>	
			<div class="col-xs-1">
	{:form_item(
			array(
				'formtype'		=>'select',
				'label'			=>'状态',
				'name'			=>'field',
				'data'			=> [['status','状态'],['is_need','必填'],['is_verify','验证']],
				'field'			=>[0,1],
				'is_first'		=>0,
			)		
	)}			
			</div>			
			<div class="col-xs-2">
	{:form_item(
			array(
				'formtype'		=>'select',
				'label'			=>'状态',
				'name'			=>'value',
				'data'			=> [[1,'启用'],[0,'停用']],
				'field'			=>[0,1],
				'next_btn'		=>'<button class="btn btn-info" onclick="setStatus($(this))">设置</button>',
				'is_first'		=>0,
			)		
	)}			
			</div>			
		</div>
	</div>
	
{/block}

<!--脚本-->
{block name="javascript"}
<script>
	$('.form-list table').each(function(){
		var obj = $(this);
		$(this).find('tbody').sortable({
			stop: function(event, ui) {
				var id = obj.find('tr').map(function() { return $(this).attr("data-id"); }).get();
				console.log(id);
				ajax_post({
					url:'/formtpl/fieldsSort',
					data:{id:id}
				});
			}	
		});				
		
	});
	
	$('#form-listfields tbody').sortable({
		stop: function(event, ui) {
			$(this).find('input[type="checkbox"]').each(function(index){
				$(this).val(index);
			});
		}		
	});

	$('.form-list').sortable({
		stop: function(event, ui) {
			var id = $(this).find('.portlet').map(function() { return $(this).attr("data-id"); }).get();
			console.log(id);
			ajax_post({
				url:'/formtpl/groupSort',
				data:{id:id}
			});
		}	
	});					

	$('#form-searchfields tbody').sortable({
		stop: function(event, ui) {
			var id = $(this).find('tr').map(function() { return $(this).attr("data-id"); }).get();
			console.log(id);
			ajax_post({
				url:'/formtpl/searchFieldsSort',
				data:{id:id}
			});
		}	
	});	


	function createForm(obj){
		vmodal({
			title:'创建表单['+ obj.data('table') +']',
			width:'1000px',
			url:'/formtpl/createForm/table/'+obj.data('table'),
		});
	}
	
	function deleteSelect(){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size == 0){
			toast({code:0,msg:'请至少选择一项！'});
			return false;
		}
		
		vmodal({
			title:'删除提示',
			msg:'<h3 class="text-center">真的要删除吗？</h3>',
			footer:'show',
			footerBtn:'<button type="button" class="btn btn-outline red btn-ok">确定</button>',
		},function(){
			$('.ajax-modal .btn-ok').click(function(){
				ajax_post({
					url:'/formtpl/fieldsDelete',
					data:getFormJson('#form-list'),
					success:function(ret){
						if(ret.code == 1){
							$('.form-list input[type="checkbox"]:checked').each(function(){
								$(this).closest('tr').remove();
							});
							
							$('.ajax-modal').modal('hide');
						}
						toast(ret);
					}
				});				
			});
		});		

	}
	
	//转移分组
	function changeGroup(obj){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size == 0){
			toast({code:0,msg:'请至少选择一项！'});
			return false;
		}
		
		var group_id = $('#group_id').val();
		var id = $('.form-list input[type="checkbox"]:checked').map(function() { return $(this).val(); }).get();
		//console.log(id);
		ajax_post({
			url:'/formtpl/fieldsChangeGroup',
			data:{id:id,group_id:group_id},
			success:function(ret){
				if(ret.code == 1){
					location.reload();
				}
				
				toast(ret);
			}
		});
	}
	
	//设置状态
	function setStatus(obj){
		var size = $('.form-list input[type="checkbox"]:checked').size();
		if(size == 0){
			toast({code:0,msg:'请至少选择一项！'});
			return false;
		}
		
		var field = $('#field').val();
		var value = $('#value').val();
		var id = $('.form-list input[type="checkbox"]:checked').map(function() { return $(this).val(); }).get();
		//console.log(id);
		ajax_post({
			url:'/formtpl/setFieldsStatus',
			data:{id:id,value:value,field:field},
			success:function(ret){
				if(ret.code == 1){
					location.reload();
				}
				
				toast(ret);
			}
		});		
	}
	
	//删除分组
	function deleteGroup(obj){
		var id = obj.data('id');
		vmodal({
			title:'删除分组',
			msg:'<h3 class="text-center">真的要删除分组吗？</h3>',
			footer:'show',
			footerBtn:'<div class="btn red btn-outline btn-ok">确定</div>',
		},function(){
			$('.ajax-modal .btn-ok').click(function(){
				ajax_post({
					url:'/formtpl/deleteGroup',
					data:{id:id},
					success:function(ret){
						if(ret.code == 1){
							location.reload();
						}
						toast(ret);
					}
				});				
			});			
		});
	}	
	
	function submitBase(){
		var data = getFormJson('#form-base');
		ajax_post({
			url:'/formtpl/formtplSave',
			data:data,
			success:function(ret){
				toast(ret);
			}
		});
		return false;
	}
	
	function listFieldsSave(){
		var data = getFormJson('#form-listfields');
		ajax_post({
			url:'/formtpl/listFieldsSave',
			data:data,
			success:function(ret){
				toast(ret);
			}
		});
		return false;		
	}
	
	function submitView(){
		var data = getFormJson('#form-view');
		ajax_post({
			url:'/formtpl/viewSave',
			data:data,
			success:function(ret){
				toast(ret);
			}
		});
		return false;		
	}	
	
	function submitRelation(){
		var data = getFormJson('#form-relation');
		ajax_post({
			url:'/formtpl/relationSave',
			data:data,
			success:function(ret){
				toast(ret);
			}
		});
		return false;		
	}
	
	function submitController(){
		var data = getFormJson('#form-controller');
		ajax_post({
			url:'/formtpl/createController',
			data:data,
			success:function(ret){
				toast(ret);
			}
		});
		return false;			
	}
	
	//删除搜索字段
	function deleteSearchField(){
		var size = $('#form-searchfields input[type="checkbox"]:checked').size();
		if(size == 0){
			toast({code:0,msg:'请至少选择一项！'});
			return false;
		}		
		
		vmodal({
			title:'删除提示',
			msg:'<h3 class="text-center">真的要删除吗？</h3>',
			footer:'show',
			footerBtn:'<button type="button" class="btn btn-outline red btn-ok">确定</button>',
		},function(){
			$('.ajax-modal .btn-ok').click(function(){
				ajax_post({
					url:'/formtpl/deleteSearchField',
					data:getFormJson('#form-searchfields'),
					success:function(ret){
						if(ret.code == 1){
							$('#form-searchfields input[type="checkbox"]:checked').each(function(){
								$(this).closest('tr').remove();
							});
							
							$('.ajax-modal').modal('hide');
						}
						toast(ret);
					}
				});				
			});
		});			
	}
	
	//添加列表字段
	function addListfield(){
		var size = $('#form-listfields input[type="checkbox"]').size();
		var html = '	<tr>';
			html+='				<td class="text-center">';
			html+='					<label class="mt-checkbox mt-checkbox-outline">';
			html+='						<input type="checkbox" id="checked[]" name="checked[]" value="'+size+'">';
			html+='						<span></span>';
			html+='					</label>';
			html+='				</td>';
			html+='				<td><input name="label[]" value="" class="form-control"></td>';
			html+='				<td><input name="name[]" value="" class="form-control"></td>';
			html+='				<td><input name="function[]" value="" class="form-control" placeholder="如：return 变量或函数"></td>';
			html+='				<td><input name="attr[]" value="" class="form-control" placeholder="如：class=text-center"></td>';
			html+='			</tr>';
		$('#form-listfields tbody').append(html);
	}
	
	/**
	 * 创建模型文件
	 */
	function createModelFile(type){
		vmodal({
			msg:'<div class="text-center"><h3>真的要生成模型文件吗？</h3><div>执行此操作将会覆盖旧的模型文件！</div></div>',
			footer:'show',
			footerBtn:'<button type="button" class="btn btn-outline red btn-ok">确定</button>',
			width:600,
		},function(){
			$('.btn-ok').click(function(){
				ajax_post({
					url:'/formtpl/createModelFile',
					data:{type:type,formtpl_id:{$rs.id}},
					success:function(ret){
						toast(ret);
						if(ret.code == 1){
							setTimeout(function(){
								$('.ajax-modal').modal('hide');
							},1000);
						}
					}
				});
			});
		});
	}
	
	/**
	 * 创建控制器文件
	 */
	function submitController(){
		var data = getFormJson('#form-controller');
		vmodal({
			msg:'<div class="text-center"><h3>确定要创建控制器文件吗？</h3><div>执行此操作将会覆盖旧的文件！</div></div>',
			footer:'show',
			footerBtn:'<button type="button" class="btn btn-outline red btn-ok">确定</button>',
			width:600,
		},function(){
			$('.btn-ok').click(function(){
				ajax_post({
					url:'/formtpl/createController',
					data:data,
					success:function(ret){
						toast(ret);
						if(ret.code == 1){
							setTimeout(function(){
								$('.ajax-modal').modal('hide');
							},1000);
						}
					}
				});
			});
		});		
		return false;
	}
	
	
</script>
{/block}
