{extend name="public:base" /}
<!--导航-->
{block name="nav"}{include file="formtpl:nav" /}{/block}

<!--主体内容-->
{block name="content"}
	<div class="note note-info">
		<p> 注意：每个数据表的设计需要有以下几个字段：id,atime,etime,appid,is_lock；分类表还需要多加两个字段：sort,upid </p>
	</div>
	<div class="row">
	{volist name="tables" id="vo"}
		<div class="col-xs-3">
			<div class="box-tables">
				<div class="name">{$vo}</div>
				<a href="/Formtplmanage/index/tables/{$vo}" class="btn green btn-outline">管理表单</a> <div class="btn blue btn-outline" onclick="createForm($(this))" data-table="{$vo}">创建表单</div>
			</div>
		</div>
	{/volist}
	</div>
{/block}

<!--脚本-->
{block name="javascript"}
<script>
	function createForm(obj){
		vmodal({
			title:'创建表单['+ obj.data('table') +']',
			width:'1000px',
			url:'/formtpl/createForm/table/'+obj.data('table'),
		});
	}
</script>
{/block}
