<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>零壹聚后台管理</title>
	<meta name="keywords" content="零壹聚,零壹聚官网">
	<meta name="description" content="零壹聚-互联网+产业孵化工厂。">	
	<meta name="author" content="Lazycat">
	<!--字体Icon-->
	{css href="__CSS__/global/plugins/font-awesome/css/font-awesome.min.css" /}
	{css href="__CSS__/global/plugins/simple-line-icons/simple-line-icons.min.css" /}
	
	{css href="__CSS__/global/plugins/bootstrap/css/bootstrap.min.css" /}
	{css href="__CSS__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" /}		
	<!--消息提示-->
	{css href="__CSS__/global/plugins/bootstrap-toastr/toastr.min.css" /}	
	<!--模态框-->
	{css href="__CSS__/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" /}
	{css href="__CSS__/global/plugins/bootstrap-modal/css/bootstrap-modal.css" /}	
	{css href="__CSS__/global/plugins/jquery.magnific-popup/dist/magnific-popup.css" /}		
	<!--日期相关-->
	{css href="__CSS__/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" /}	
	{css href="__CSS__/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" /}		
	<!--code editor-->
	{css href="__CSS__/global/plugins/codemirror/lib/codemirror.css" /}	
	
	{css href="__CSS__/global/css/components.min.css" /}
	{css href="__CSS__/global/css/plugins.min.css" /}
	{css href="__CSS__/layouts/layout/css/layout.css" /}
	{css href="__CSS__/layouts/layout/css/themes/darkblue.min.css" /}
	{css href="/css/work/css.css" /}
	{block name="css"}<!--样式-->{/block}
</head>
<body class="bg-white" id="{$Request.controller}-{$Request.action}">
	<div class="m20">
	{block name="nav"}<!--导航菜单-->{/block}
	{block name="search"}<!--搜索-->{/block}
	{block name="content"}<!--主体内容-->{/block}
    	
	{block name="custom"}<!--自定义内容-->{/block}
	</div>
	
	<!--模态框-->
	<div id="#ajax-modal" class="modal fade ajax-modal" tabindex="-1" data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h4 class="modal-title">提示</h4>
		</div>	
		<div class="modal-body">
			
		</div>
		<div class="modal-footer hide">
			<span class="btns"></span>
			<button type="button" data-dismiss="modal" class="btn btn-outline dark pull-left">关闭</button>
		</div>
	</div>
	
	<!--ajax-form-->
	<div id="ajax_form" class="hide"></div>
	
	<!-- 上传图片 -->
	<form enctype="multipart/form-data" id="form-upload" data-url="/upload/images" class="hide">
		<input id="file" name="file" type="file" value="" />
		<input type="hidden" id="width" name="width" value="">
		<input type="hidden" id="height" name="height" value="">
		<input type="hidden" id="type" name="type" value="">	
		<input type="hidden" id="field" name="field" value="">
		<input type="hidden" id="field1" name="field1" value="">
		<input type="hidden" id="field2" name="field2" value="">
	</form>	
	
	<!--[if lt IE 9]>
		{js href="__CSS__/global/plugins/respond.min.js" /}
		{js href="__CSS__/global/plugins/excanvas.min.js" /}
	<![endif]-->
	{js href="__CSS__/global/plugins/jquery.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap/js/bootstrap.min.js" /}
	{js href="__CSS__/global/plugins/js.cookie.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" /}
	{js href="__CSS__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" /}
	{js href="__CSS__/global/plugins/jquery.blockui.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-toastr/toastr.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" /}    
	{js href="__CSS__/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" /}    
	{js href="__CSS__/global/plugins/bootstrap-modal/js/bootstrap-modal.js" /}    
	{js href="__CSS__/global/plugins/jquery.magnific-popup/dist/jquery.magnific-popup.min.js" /} 
	{js href="__CSS__/global/plugins/jquery-ui/jquery-ui.min.js" /} 
	{js href="__CSS__/global/plugins/backstretch/jquery.backstretch.min.js" /}
	
	<!-- code editor -->
	{js href="__CSS__/global/plugins/codemirror/lib/codemirror.js" /}
	
	<!--日期相关-->	
	{js href="__CSS__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" /} 
	{js href="__CSS__/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" /} 
	{js href="__CSS__/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" /}
	
	{js href="/js/plugins/jquery.form.js" /}
	{js href="/js/plugins/localResizeIMG/dist/lrz.bundle.js" /}	
	{js href="/js/plugins/qiniu_ueditor/ueditor_mintoolbar.config.js" /}
	{js href="/js/plugins/qiniu_ueditor/ueditor.all.min.js" /}
	{js href="/js/plugins/qiniu_ueditor/lang/zh-cn/zh-cn.js" /}
	{js href="/js/work/apps.js" /} 
	<script>
		if($('.nav-title').size() >0){
			var baseUrl = '/{$Request.controller}/{$Request.action}';
			$('.nav-title li').removeClass('active').parent().find('li[data-baseUrl="'+ baseUrl +'"]').addClass('active');
			
			if($('.nav-title li.active').size() == 0 && $('.nav-title li[data-otherUrl="'+ baseUrl +'"]').size() > 0){
				$('.nav-title li[data-otherUrl="'+ baseUrl +'"]').removeClass('hide').addClass('active');
			}
		}
	</script>
	
	{block name="javascript"}<!--自定义脚本-->{/block}
	{block name="footer"}<!--页脚-->{/block}
</body>
</html>