<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>零壹聚后台管理</title>
	<meta name="keywords" content="零壹聚后台管理,零壹聚">
	<meta name="description" content="零壹聚后台管理,零壹聚。">	
	<meta name="author" content="Lazycat">
	{css href="__CSS__/global/plugins/font-awesome/css/font-awesome.min.css" /}
	{css href="__CSS__/global/plugins/simple-line-icons/simple-line-icons.min.css" /}
	{css href="__CSS__/global/plugins/bootstrap/css/bootstrap.min.css" /}
	{css href="__CSS__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" /}
	{css href="__CSS__/global/css/components.min.css" /}
	{css href="__CSS__/global/css/plugins.min.css" /}
	{css href="__CSS__/layouts/layout/css/layout.css" /}
	{css href="__CSS__/layouts/layout/css/themes/darkblue.min.css" /}
	{css href="/css/work/css.css" /}
</head>
<body style="overflow: hidden;">
	<!--TOPBAR-->
    <div class="topbar fixed-top">
    	<div class="crow">
    		<div class="col-15">
    			<div class="logo">
	    			<a href="/" target="_top">
	    				<img src="{:config('cfg.work')['logo']}" alt="logo" height="40">
	    			</a>
    			</div>
    		</div>
    		<div class="col-60">
    			<ul class="menu-box">
    				{volist name="menu" id="vo"}
    				<li class="{$i==1?'active':''}" data-id="{$vo.id}" onclick="firstMenu($(this))"><i class="{$vo.icon}"></i>{$vo.name}</li>
    				{/volist}
    			</ul>
    		</div>
    		<div class="col-25">
    			<div class="user">
    				<img src="/images/work/face.jpg" class="img-circle" width="35" height="35" alt="头像"> {$Think.session.admin.name}（{$Think.session.admin.username}），<a href="/login/logout" target="_top">退出</a>
    			</div>
    		</div>
    	</div>

    </div>
    <!-- END TOPBAR -->
    
    <!-- PAGE BODY-->
    <div class="p-content">
    	<div class="crow2">
    		<div id="p-sidebar" style="width:13%">
    			<div style="height: 10px;"></div>
    			
    			
    			{volist name="menu" id="ls" key="k"}
    			<div class="menu-box {$k==1?'active':''}" data-id="{$ls.id}">
	    			{volist name="ls.dlist" id="vo"}
	    			<div class="us">{:$vo['icon'] ? '<i class="'.$vo['icon'].'"></i>':''} {$vo.name}</div>
	    			<ul>
	    				{volist name="vo.dlist" id="ds"}
	    				<li class="{$i==1?'active':''}">
	    					{notempty name="ds.target"}
	    					<a href="{$ds.url}" target="{$ds.target}">{:$ds['icon'] ? '<i class="'.$ds['icon'].'"></i>':''} {$ds.name}</a>
	    					{else/}
	    					<a href="javascript:void(0)" data-url="{$ds.url}" data-id="{$ds.id}" onclick="openMenu($(this))">{:$ds['icon'] ? '<i class="'.$ds['icon'].'"></i>':''} {$ds.name}</a>
	    					{/notempty}
	    				</li>
	    				{/volist}
	    			</ul>
	    			{/volist}
    			</div>
    			{/volist}
    		</div>
    		<div id="p-iframe" style="width:87%" class="bg-white">
    			<div class="p-bar">
    				<div class="action">
    					<div class="btn red btn-outline btn-sm" onclick="refIframe()"><i class="icon-refresh"></i>刷新</div>
    				</div>
    				<ul class="p-bar-list">
    					<li data-id="9" onclick="winActive($(this))" class="active">数据概览</li>
    				</ul>
    			</div>
    			<div class="clearfix"></div>
    			
    			<div class="iframe-list">
    				<div id="iframe-box" data-id="9" class="active">    				
    					<iframe name="mainFrame" id="mainFrame" frameborder="0" src="/index/main"></iframe>    				
    				</div>				
    			</div>
    			
    		</div>
    	</div>
    </div> 
    <!-- END PAGE BODY-->
    	
	<!--[if lt IE 9]>
		{js href="__CSS__/global/plugins/respond.min.js" /}
		{js href="__CSS__/global/plugins/excanvas.min.js" /}
	<![endif]-->
	{js href="__CSS__/global/plugins/jquery.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap/js/bootstrap.min.js" /}
	{js href="__CSS__/global/plugins/js.cookie.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" /}
	{js href="__CSS__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" /}
	{js href="__CSS__/global/plugins/jquery.blockui.min.js" /}
	{js href="__CSS__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" /}    
	
	<script>
		var height 	= $(window).height();
		var width	= $(window).width();
		$('#p-sidebar').css({width:200});
		$('#p-iframe').css({height:height-50,width:width-200});
		$('body #iframe-box').css({height:height-50-45,width:width-200});
		restMenu();
		$(window).on('resize', function () {
			var height 	= $(window).height();
			var width	= $(window).width();
			$('#p-sidebar').css({width:200});
			$('#p-iframe').css({height:height-50,width:width-200});
			$('body #iframe-box').css({height:height-50-45,width:width-200});

    	}).resize();
    	
    	function firstMenu(obj){
    		var data = obj.data();
    		obj.addClass('active').siblings().removeClass('active');
    		
    		$('#p-sidebar .menu-box').removeClass('active');
    		$('#p-sidebar .menu-box[data-id="'+ data.id +'"]').addClass('active').find('li:first a').click();
    	}
    	
    	function openMenu(obj){
    		var data	= obj.data();
    		var t		= $('.p-bar-list li[data-id="'+ data.id +'"]');
    		if(t.size() > 0){
    			t.click();
    		}else{
    			var bar = '<li class="active" data-id="'+ data.id +'" onclick="winActive($(this))">'+ obj.text() +' <i class="fa fa-times" onclick="winClose($(this))"></i></li>';
				$('.p-bar-list li').removeClass('active');
				$('.p-bar-list').append(bar);
				
				var style = $('.iframe-list > div.active').attr('style');
				var iframe = '<div id="iframe-box" data-id="'+ data.id +'" class="active" style="'+ style +'"><iframe name="mainFrame" frameborder="0" src="'+ data.url +'"></iframe></div>';
				$('.iframe-list > div').removeClass('active');
				$('.iframe-list').append(iframe);
    		}
    		
    		restMenu();
    	}
    	
    	function winActive(obj){
    		var data = obj.data();    		
    		obj.addClass('active').siblings().removeClass('active');
    		
    		var t = $('.iframe-list [data-id="'+ data.id +'"]');
    		t.addClass('active').siblings().removeClass('active');
    		restMenu();
    	}
    	
    	function winClose(obj){
    		var data = obj.parent().data();
    		var prev_id = obj.closest('li').prev().addClass('active').data('id');
    		obj.closest('li').remove();
    		$('.iframe-list [data-id="'+ prev_id +'"]').addClass('active');
    		$('.iframe-list [data-id="'+ data.id +'"]').remove();

    	}
    	
    	function restMenu(){
    		var id 		= $('.p-bar-list li.active').data('id');
    		var second 	= $('#p-sidebar [data-id="'+ id +'"]').closest('.menu-box');
    		second.addClass('active').siblings().removeClass('active');
    		second.find('li').removeClass('active');
    		$('#p-sidebar [data-id="'+ id +'"]').closest('li').addClass('active');    		
    		$('.topbar [data-id="'+ second.data('id') +'"]').addClass('active').siblings().removeClass('active');
    	}
    	
    	function refIframe(){
    		var obj = $('.iframe-list #iframe-box.active iframe');
    		var src = obj.attr('src');
    		obj.attr('src',src);
    	}
	</script>
</body>
</html>